/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="light"] {
  --shadow-alert: 0 3px 12px 0 rgba(0, 0, 0, 0.09);
  --shadow-menu: 0 4px 12px 0 rgba(12, 12, 13, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(12, 12, 13, 0.05), 0 8px 32px 0 rgba(12, 12, 13, 0.05);

  --common-focus-neutral: #050505;
  --common-scrollbar-bg: #8b8f96;
  --component-alert-bg: #ffffff;
  --component-alert-border: #dedfe2;
  --component-alert-text--content: #45484d;
  --component-alert-text--title: #1c1d1e;
  --component-authentication-form-bg-divider: #dedfe2;
  --component-authentication-form-text--link: #1c1d1e;
  --component-authentication-form-text--subtitle: #5f636a;
  --component-authentication-form-text--title: #1c1d1e;
  --component-authentication-header-logo: #2b2c2f;
  --component-button-action-bg---hover: #f6f6f6;
  --component-button-action-icon---hover: #1c1d1e;
  --component-button-action-icon: #45484d;
  --component-button-authentication-bg---active: #050505;
  --component-button-authentication-bg---disable: #dedfe2;
  --component-button-authentication-bg---hover: #2b2c2f;
  --component-button-authentication-bg---loading: #383a3e;
  --component-button-authentication-bg: #1c1d1e;
  --component-button-authentication-text---disable: #8b8f96;
  --component-button-authentication-text: #ffffff;
  --component-button-close-icon---hover: #1c1d1e;
  --component-button-close-icon: #8b8f96;
  --component-button-danger-bg---active: #d83235;
  --component-button-danger-bg---disable: #dedfe2;
  --component-button-danger-bg---hover: #fe6c6e;
  --component-button-danger-bg---loading: #ffa7a8;
  --component-button-danger-bg: #fe3b3e;
  --component-button-danger-text---disable: #8b8f96;
  --component-button-danger-text: var(--base-white);
  --component-button-neutral-bg---active: #eff0f1;
  --component-button-neutral-bg---disable: #dedfe2;
  --component-button-neutral-bg---hover: #f6f6f6;
  --component-button-neutral-bg---loading: #f6f6f6;
  --component-button-neutral-bg: #fcfcfd;
  --component-button-neutral-border: #dedfe2;
  --component-button-neutral-text---disable: #8b8f96;
  --component-button-neutral-text: #1c1d1e;
  --component-button-primary-bg---active: #3c69d9;
  --component-button-primary-bg---disable: #dedfe2;
  --component-button-primary-bg---hover: #759cff;
  --component-button-primary-bg---loading: #acc4ff;
  --component-button-primary-bg: #477bff;
  --component-button-primary-text---disable: #8b8f96;
  --component-button-primary-text: #ffffff;
  --component-editor-menu-bg: #ffffff;
  --component-editor-menu-border: #dedfe2;
  --component-editor-menu-item-bg---active: #eff0f1;
  --component-editor-menu-item-bg---hover: #f6f6f6;
  --component-editor-menu-item-bg---selected: #eff0f1;
  --component-editor-menu-item-bg--input: #f6f6f6;
  --component-editor-menu-item-bg--key: #f6f6f6;
  --component-editor-menu-item-bg: #ffffff;
  --component-editor-menu-item-icon---hover: #2b2c2f;
  --component-editor-menu-item-icon: #45484d;
  --component-editor-menu-item-text--key: #8b8f96;
  --component-editor-menu-item-text--placeholder: #5f636a;
  --component-editor-menu-item-text: #2b2c2f;
  --component-editor-menu-text: #45484d;
  --component-editor-node-loading-indicator-bg: #f6f6f6;
  --component-editor-node-loading-indicator-text: #45484d;
  --component-error-message-text--description: #45484d;
  --component-error-message-text--title: #1c1d1e;
  --component-input-bg--disable: #dedfe2;
  --component-input-bg: #ffffff;
  --component-input-border---active: #acc4ff;
  --component-input-border: #dedfe2;
  --component-input-button-icon---hover: #1c1d1e;
  --component-input-button-icon: #8b8f96;
  --component-input-shadow---active: #c8d7ff;
  --component-input-text---disable: #8b8f96;
  --component-input-text---placeholder: #8b8f96;
  --component-input-text: #1c1d1e;
  --component-item-create-input-bg: #eff0f1;
  --component-item-create-input-button-bg---hover: #2b2c2f;
  --component-item-create-input-button-bg---loading: #383a3e;
  --component-item-create-input-button-bg: #1c1d1e;
  --component-item-create-input-button-icon: #ffffff;
  --component-item-create-input-text---placeholder: #8b8f96;
  --component-item-create-input-text: #1c1d1e;
  --component-item-list-document-bg---hover: #f6f6f6;
  --component-item-list-document-bg: #ffffff;
  --component-item-list-document-border: #dedfe2;
  --component-item-list-document-text---hover: #1c1d1e;
  --component-item-list-document-text: #45484d;
  --component-loading-indicator-text: #1c1d1e;
  --component-menu-item-bg---active: #eff0f1;
  --component-menu-item-bg---hover: #f6f6f6;
  --component-menu-item-bg: #ffffff;
  --component-menu-item-border: #dedfe2;
  --component-menu-item-text: #1c1d1e;
  --component-modal-bg--controller: #ffffff;
  --component-modal-bg: #ffffff;
  --component-modal-border: #dedfe2;
  --component-modal-text--content: #383a3e;
  --component-modal-text--title: #1c1d1e;
  --component-overview-title-text: #1c1d1e;
  --component-settings-modal-bg: #ffffff;
  --component-settings-modal-border: #dedfe2;
  --component-settings-modal-item-bg---hover: #f6f6f6;
  --component-settings-modal-item-bg---selected: #f6f6f6;
  --component-settings-modal-item-bg: #ffffff;
  --component-settings-modal-item-text: #1c1d1e;
  --component-settings-modal-text--item-description: #45484d;
  --component-settings-modal-text--item-title: #2b2c2f;
  --component-settings-modal-text--title: #1c1d1e;
  --component-status-text-text--error: #fe3b3e;
  --component-status-text-text--success: #2aa147;
  --component-top-bar-badge-bg--blue: #759cff;
  --component-top-bar-badge-bg--red: #fe3b3e;
  --component-top-bar-badge-bg--yellow: #f4d146;
  --component-top-bar-badge-text--invert: #1c1d1e;
  --component-top-bar-badge-text: #ffffff;
  --component-top-bar-border: #dedfe2;
  --component-top-bar-logo: #1c1d1e;
  --component-writtte-editor-bg--element: #eff0f1;
  --component-writtte-editor-bg--hr: #dedfe2;
  --component-writtte-editor-bg--inline-code: #eff0f1;
  --component-writtte-editor-bg--list-item-marker: #5f636a;
  --component-writtte-editor-bg--text-selection: #e3ebff;
  --component-writtte-editor-border--block---focused: #477bff;
  --component-writtte-editor-text---placeholder: #8b8f96;
  --component-writtte-editor-text--h1: #1c1d1e;
  --component-writtte-editor-text--h2: #1c1d1e;
  --component-writtte-editor-text--h3: #1c1d1e;
  --component-writtte-editor-text--h4: #1c1d1e;
  --component-writtte-editor-text--h5: #1c1d1e;
  --component-writtte-editor-text--h6: #1c1d1e;
  --component-writtte-editor-text--link: #477bff;
  --component-writtte-editor-text--paragraph: #383a3e;
  --layout-bg--authentication: #ffffff;
  --layout-bg--dashboard: #ffffff;
}
