/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_cherry"] {
  --shadow-panel: 0px 4px 24px rgba(25, 10, 12, 0.45);
  --shadow-alert: 0px 3px 12px rgba(25, 10, 12, 0.55);
  --shadow-menu: 0 4px 12px 0 rgba(25, 10, 12, 0.5);
  --shadow-modal: 0 4px 16px 0 rgba(25, 10, 12, 0.4), 0 8px 32px 0 rgba(25, 10, 12, 0.45);
  --shadow-popup: 0px 4px 12px rgba(25, 10, 12, 0.52);

  --color--bg-danger-100: #190d0f;
  --color--bg-danger-200: #291517;
  --color--bg-danger-300: #3c1f23;
  --color--bg-danger-400: #4f292f;
  --color--bg-danger-500: #9d5a62;
  --color--bg-danger-600: #c97882;
  --color--bg-danger-700: #d99099;
  --color--bg-dark-100: #0f0708;
  --color--bg-dark-200: #180b0d;
  --color--bg-dark-300: #1a0d0f;
  --color--bg-dark-400: #221217;
  --color--bg-dark-500: #2a161c;
  --color--bg-dark-600: #321a21;
  --color--bg-dark-700: #3d2026;
  --color--bg-neutral-000: #1b0f11;
  --color--bg-neutral-100: #1a0e10;
  --color--bg-neutral-200: #211116;
  --color--bg-neutral-300: #29151b;
  --color--bg-neutral-400: #311920;
  --color--bg-neutral-500: #3c1f25;
  --color--bg-primary-100: #180c0e;
  --color--bg-primary-200: #211217;
  --color--bg-primary-300: #2a181f;
  --color--bg-primary-400: #341f27;
  --color--bg-primary-500: #6d4d55;
  --color--bg-primary-600: #b58a93;
  --color--bg-primary-700: #c9a3ab;
  --color--bg-yellow-100: #170b0d;
  --color--bg-yellow-200: #211317;
  --color--bg-yellow-300: #2a1b20;
  --color--bg-yellow-400: #342329;
  --color--bg-yellow-500: #8d6d6f;
  --color--bg-yellow-600: #c0a5a7;
  --color--bg-yellow-700: #d1b8ba;
  --color--border-bold: #4d3137;
  --color--border-danger: #9d5a62;
  --color--border-invert: #e8d5d8;
  --color--border-primary: #7d5d64;
  --color--border-strong: #3c1f25;
  --color--border-weak: #311920;
  --color--text-alpha: #e8d5d8;
  --color--text-beta: #c9b3b6;
  --color--text-danger: #c97882;
  --color--text-gamma: #a08a8d;
  --color--text-invert: #e8d5d8;
  --color--text-primary: #b58a93;
  --color--text-success: #a89e9f;
}
