/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_typewriter"] {
  --shadow-panel: 0px 4px 24px rgba(10, 10, 10, 0.5);
  --shadow-alert: 0px 3px 12px rgba(10, 10, 10, 0.6);
  --shadow-menu: 0 4px 12px 0 rgba(10, 10, 10, 0.55);
  --shadow-modal: 0 4px 16px 0 rgba(10, 10, 10, 0.45), 0 8px 32px 0 rgba(10, 10, 10, 0.5);
  --shadow-popup: 0px 4px 12px rgba(10, 10, 10, 0.58);

  --color--bg-danger-100: #191919;
  --color--bg-danger-200: #232323;
  --color--bg-danger-300: #2d2d2d;
  --color--bg-danger-400: #373737;
  --color--bg-danger-500: #757575;
  --color--bg-danger-600: #9e9e9e;
  --color--bg-danger-700: #b8b8b8;
  --color--bg-dark-100: #0a0a0a;
  --color--bg-dark-200: #121212;
  --color--bg-dark-300: #1a1a1a;
  --color--bg-dark-400: #1f1f1f;
  --color--bg-dark-500: #242424;
  --color--bg-dark-600: #2b2b2b;
  --color--bg-dark-700: #333333;
  --color--bg-neutral-000: #1b1b1b;
  --color--bg-neutral-100: #1a1a1a;
  --color--bg-neutral-200: #121212;
  --color--bg-neutral-300: #1e1e1e;
  --color--bg-neutral-400: #252525;
  --color--bg-neutral-500: #2f2f2f;
  --color--bg-primary-100: #181818;
  --color--bg-primary-200: #202020;
  --color--bg-primary-300: #272727;
  --color--bg-primary-400: #303030;
  --color--bg-primary-500: #5c5c5c;
  --color--bg-primary-600: #b8b8b8;
  --color--bg-primary-700: #d0d0d0;
  --color--bg-yellow-100: #171717;
  --color--bg-yellow-200: #212121;
  --color--bg-yellow-300: #282828;
  --color--bg-yellow-400: #313131;
  --color--bg-yellow-500: #666666;
  --color--bg-yellow-600: #a3a3a3;
  --color--bg-yellow-700: #bdbdbd;
  --color--border-bold: #4a4a4a;
  --color--border-danger: #757575;
  --color--border-invert: #e0e0e0;
  --color--border-primary: #5c5c5c;
  --color--border-strong: #2f2f2f;
  --color--border-weak: #252525;
  --color--text-alpha: #e0e0e0;
  --color--text-beta: #b8b8b8;
  --color--text-danger: #9e9e9e;
  --color--text-gamma: #8a8a8a;
  --color--text-invert: #e0e0e0;
  --color--text-primary: #c7c7c7;
  --color--text-success: #b8b8b8;
}
