/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_blue"] {
  --shadow-panel: 0px 4px 24px rgba(10, 15, 25, 0.45);
  --shadow-alert: 0px 3px 12px rgba(10, 15, 25, 0.55);
  --shadow-menu: 0 4px 12px 0 rgba(10, 15, 25, 0.5);
  --shadow-modal: 0 4px 16px 0 rgba(10, 15, 25, 0.4), 0 8px 32px 0 rgba(10, 15, 25, 0.45);
  --shadow-popup: 0px 4px 12px rgba(10, 15, 25, 0.52);

  --color--bg-danger-100: #0e1320;
  --color--bg-danger-200: #141c2d;
  --color--bg-danger-300: #1d2840;
  --color--bg-danger-400: #273451;
  --color--bg-danger-500: #607088;
  --color--bg-danger-600: #8b9baf;
  --color--bg-danger-700: #a3b0c2;
  --color--bg-dark-100: #080b14;
  --color--bg-dark-200: #0c1018;
  --color--bg-dark-300: #0f1420;
  --color--bg-dark-400: #131a28;
  --color--bg-dark-500: #182130;
  --color--bg-dark-600: #1d2838;
  --color--bg-dark-700: #243041;
  --color--bg-neutral-000: #101521;
  --color--bg-neutral-100: #0f1420;
  --color--bg-neutral-200: #131a27;
  --color--bg-neutral-300: #17202f;
  --color--bg-neutral-400: #1c2737;
  --color--bg-neutral-500: #232f40;
  --color--bg-primary-100: #0d1220;
  --color--bg-primary-200: #131a29;
  --color--bg-primary-300: #192333;
  --color--bg-primary-400: #1f2c3e;
  --color--bg-primary-500: #4a5f7a;
  --color--bg-primary-600: #7090b8;
  --color--bg-primary-700: #88a4c8;
  --color--bg-yellow-100: #0c1120;
  --color--bg-yellow-200: #141a27;
  --color--bg-yellow-300: #1b2331;
  --color--bg-yellow-400: #222c3c;
  --color--bg-yellow-500: #607080;
  --color--bg-yellow-600: #95a5b8;
  --color--bg-yellow-700: #a9b7c7;
  --color--border-bold: #324256;
  --color--border-danger: #607088;
  --color--border-invert: #d8e0eb;
  --color--border-primary: #547090;
  --color--border-strong: #232f40;
  --color--border-weak: #1c2737;
  --color--text-alpha: #d8e0eb;
  --color--text-beta: #b8c5d6;
  --color--text-danger: #8b9baf;
  --color--text-gamma: #8fa0b5;
  --color--text-invert: #d8e0eb;
  --color--text-primary: #7090b8;
  --color--text-success: #87a0ba;
}
