/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_forest"] {
  --shadow-panel: 0px 4px 24px rgba(0, 0, 0, 0.55);
  --shadow-alert: 0px 3px 12px rgba(0, 0, 0, 0.6);
  --shadow-menu: 0 4px 12px 0 rgba(0, 0, 0, 0.58);
  --shadow-modal: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 8px 32px 0 rgba(0, 0, 0, 0.55);
  --shadow-popup: 0px 4px 12px rgba(0, 0, 0, 0.6);

  --color--bg-danger-100: #1a0808;
  --color--bg-danger-200: #2d1010;
  --color--bg-danger-300: #451818;
  --color--bg-danger-400: #5d2020;
  --color--bg-danger-500: #8f3030;
  --color--bg-danger-600: #c74545;
  --color--bg-danger-700: #e06060;
  --color--bg-dark-100: #060a08;
  --color--bg-dark-200: #0d130f;
  --color--bg-dark-300: #141d17;
  --color--bg-dark-400: #1d2a22;
  --color--bg-dark-500: #28382e;
  --color--bg-dark-600: #35473b;
  --color--bg-dark-700: #44594b;
  --color--bg-neutral-000: #0f1712;
  --color--bg-neutral-100: #0e1611;
  --color--bg-neutral-200: #161f19;
  --color--bg-neutral-300: #1f2b23;
  --color--bg-neutral-400: #2a382f;
  --color--bg-neutral-500: #37473c;
  --color--bg-primary-100: #0b140f;
  --color--bg-primary-200: #14201a;
  --color--bg-primary-300: #1f2f26;
  --color--bg-primary-400: #2d4236;
  --color--bg-primary-500: #4a6456;
  --color--bg-primary-600: #6d9180;
  --color--bg-primary-700: #95baa8;
  --color--bg-yellow-100: #1a1508;
  --color--bg-yellow-200: #2d2410;
  --color--bg-yellow-300: #453718;
  --color--bg-yellow-400: #5d4a20;
  --color--bg-yellow-500: #8f7030;
  --color--bg-yellow-600: #c79f45;
  --color--bg-yellow-700: #e0bc60;
  --color--border-bold: #3f5545;
  --color--border-danger: #c74545;
  --color--border-invert: #d5e8dd;
  --color--border-primary: #5a7d6b;
  --color--border-strong: #37473c;
  --color--border-weak: #2a382f;
  --color--text-alpha: #dce8e1;
  --color--text-beta: #bfd1c6;
  --color--text-danger: #e06060;
  --color--text-gamma: #96aca0;
  --color--text-invert: #dce8e1;
  --color--text-primary: #6d9180;
  --color--text-success: #85b595;
}
