/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_solarized"] {
  --shadow-panel: 0px 4px 24px rgba(0, 43, 54, 0.4);
  --shadow-alert: 0px 3px 12px rgba(0, 43, 54, 0.5);
  --shadow-menu: 0 4px 12px 0 rgba(0, 43, 54, 0.45);
  --shadow-modal: 0 4px 16px 0 rgba(0, 43, 54, 0.35), 0 8px 32px 0 rgba(0, 43, 54, 0.4);
  --shadow-popup: 0px 4px 12px rgba(0, 43, 54, 0.48);

  --color--bg-danger-100: #063541;
  --color--bg-danger-200: #0d4251;
  --color--bg-danger-300: #2c4952;
  --color--bg-danger-400: #4b5e63;
  --color--bg-danger-500: #cb4b16;
  --color--bg-danger-600: #dc322f;
  --color--bg-danger-700: #e8575a;
  --color--bg-dark-100: #002a35;
  --color--bg-dark-200: #063541;
  --color--bg-dark-300: #0d4958;
  --color--bg-dark-400: #134e5f;
  --color--bg-dark-500: #195566;
  --color--bg-dark-600: #1f5c6d;
  --color--bg-dark-700: #266273;
  --color--bg-neutral-000: #012c37;
  --color--bg-neutral-100: #002b36;
  --color--bg-neutral-200: #063541;
  --color--bg-neutral-300: #0c414f;
  --color--bg-neutral-400: #124d5e;
  --color--bg-neutral-500: #185465;
  --color--bg-primary-100: #053440;
  --color--bg-primary-200: #0d4150;
  --color--bg-primary-300: #194e5d;
  --color--bg-primary-400: #255a69;
  --color--bg-primary-500: #3d6f7e;
  --color--bg-primary-600: #268bd2;
  --color--bg-primary-700: #4a9fd8;
  --color--bg-yellow-100: #043340;
  --color--bg-yellow-200: #0e4351;
  --color--bg-yellow-300: #1d4e59;
  --color--bg-yellow-400: #2c5961;
  --color--bg-yellow-500: #6c7c22;
  --color--bg-yellow-600: #b58900;
  --color--bg-yellow-700: #c99b1a;
  --color--border-bold: #2d5561;
  --color--border-danger: #cb4b16;
  --color--border-invert: #eee8d5;
  --color--border-primary: #3d7c9f;
  --color--border-strong: #185465;
  --color--border-weak: #124d5e;
  --color--text-alpha: #839496;
  --color--text-beta: #93a1a1;
  --color--text-danger: #dc322f;
  --color--text-gamma: #657b83;
  --color--text-invert: #839496;
  --color--text-primary: #268bd2;
  --color--text-success: #859900;
}
