/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_catppuccin"] {
  --shadow-panel: 0px 4px 24px rgba(17, 17, 27, 0.4);
  --shadow-alert: 0px 3px 12px rgba(17, 17, 27, 0.5);
  --shadow-menu: 0 4px 12px 0 rgba(17, 17, 27, 0.45);
  --shadow-modal: 0 4px 16px 0 rgba(17, 17, 27, 0.35), 0 8px 32px 0 rgba(17, 17, 27, 0.4);
  --shadow-popup: 0px 4px 12px rgba(17, 17, 27, 0.48);

  --color--bg-danger-100: #1d1d2d;
  --color--bg-danger-200: #292337;
  --color--bg-danger-300: #3d2d3e;
  --color--bg-danger-400: #512845;
  --color--bg-danger-500: #c45d6f;
  --color--bg-danger-600: #f38ba8;
  --color--bg-danger-700: #f5a1b8;
  --color--bg-dark-100: #11111b;
  --color--bg-dark-200: #171724;
  --color--bg-dark-300: #1d1d2d;
  --color--bg-dark-400: #252537;
  --color--bg-dark-500: #2c2c40;
  --color--bg-dark-600: #313244;
  --color--bg-dark-700: #383850;
  --color--bg-neutral-000: #1f1f2f;
  --color--bg-neutral-100: #1e1e2e;
  --color--bg-neutral-200: #191926;
  --color--bg-neutral-300: #242436;
  --color--bg-neutral-400: #303143;
  --color--bg-neutral-500: #45475a;
  --color--bg-primary-100: #1c1c2c;
  --color--bg-primary-200: #1f2337;
  --color--bg-primary-300: #242c44;
  --color--bg-primary-400: #293551;
  --color--bg-primary-500: #5574a3;
  --color--bg-primary-600: #89b4fa;
  --color--bg-primary-700: #a0c4fb;
  --color--bg-yellow-100: #1b1b2b;
  --color--bg-yellow-200: #232337;
  --color--bg-yellow-300: #2d2e41;
  --color--bg-yellow-400: #37394b;
  --color--bg-yellow-500: #a89057;
  --color--bg-yellow-600: #f9e2af;
  --color--bg-yellow-700: #fae8c0;
  --color--border-bold: #585b70;
  --color--border-danger: #d87a8c;
  --color--border-invert: #cdd6f4;
  --color--border-primary: #7090c8;
  --color--border-strong: #45475a;
  --color--border-weak: #303143;
  --color--text-alpha: #cdd6f4;
  --color--text-beta: #bac2de;
  --color--text-danger: #f38ba8;
  --color--text-gamma: #a6adc8;
  --color--text-invert: #cdd6f4;
  --color--text-primary: #89b4fa;
  --color--text-success: #a6e3a1;
}
