/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_gray"] {
  --shadow-panel: 0px 4px 24px rgba(0, 0, 0, 0.55);
  --shadow-alert: 0px 3px 12px rgba(0, 0, 0, 0.65);
  --shadow-menu: 0 4px 12px 0 rgba(0, 0, 0, 0.6);
  --shadow-modal: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  --shadow-popup: 0px 4px 12px rgba(0, 0, 0, 0.62);

  --color--bg-danger-100: #1a0a0a;
  --color--bg-danger-200: #2d1414;
  --color--bg-danger-300: #451e1e;
  --color--bg-danger-400: #5d2a2a;
  --color--bg-danger-500: #8f4040;
  --color--bg-danger-600: #c75555;
  --color--bg-danger-700: #e07070;
  --color--bg-dark-100: #0a0a0a;
  --color--bg-dark-200: #111111;
  --color--bg-dark-300: #1a1a1a;
  --color--bg-dark-400: #252525;
  --color--bg-dark-500: #333333;
  --color--bg-dark-600: #424242;
  --color--bg-dark-700: #525252;
  --color--bg-neutral-000: #171717;
  --color--bg-neutral-100: #151515;
  --color--bg-neutral-200: #202020;
  --color--bg-neutral-300: #2e2e2e;
  --color--bg-neutral-400: #3d3d3d;
  --color--bg-neutral-500: #4f4f4f;
  --color--bg-primary-100: #131313;
  --color--bg-primary-200: #1f1f1f;
  --color--bg-primary-300: #2d2d2d;
  --color--bg-primary-400: #3e3e3e;
  --color--bg-primary-500: #5c5c5c;
  --color--bg-primary-600: #8f8f8f;
  --color--bg-primary-700: #b5b5b5;
  --color--bg-yellow-100: #1a1508;
  --color--bg-yellow-200: #2d2410;
  --color--bg-yellow-300: #453818;
  --color--bg-yellow-400: #5d4d20;
  --color--bg-yellow-500: #8f7030;
  --color--bg-yellow-600: #c79d40;
  --color--bg-yellow-700: #e0b855;
  --color--border-bold: #5a5a5a;
  --color--border-danger: #b54545;
  --color--border-invert: #e8e8e8;
  --color--border-primary: #787878;
  --color--border-strong: #4f4f4f;
  --color--border-weak: #3d3d3d;
  --color--text-alpha: #e8e8e8;
  --color--text-beta: #c7c7c7;
  --color--text-danger: #e07070;
  --color--text-gamma: #9e9e9e;
  --color--text-invert: #e8e8e8;
  --color--text-primary: #ababab;
  --color--text-success: #b3b3b3;
}
