/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="dark_catppuccin"] {
  --shadow-alert: none;
  --shadow-menu: none;
  --shadow-modal: none;

  --common-focus-neutral: #cdd6f4;
  --common-scrollbar-bg: #6c7086;
  --component-alert-bg: #1e1e2e;
  --component-alert-border: #45475a;
  --component-alert-text--content: #a6adc8;
  --component-alert-text--title: #cdd6f4;
  --component-authentication-form-bg-divider: #45475a;
  --component-authentication-form-text--link: #cdd6f4;
  --component-authentication-form-text--subtitle: #7f849c;
  --component-authentication-form-text--title: #cdd6f4;
  --component-authentication-header-logo: #bac2de;
  --component-button-action-bg---hover: #313244;
  --component-button-action-icon---hover: #cdd6f4;
  --component-button-action-icon: #a6adc8;
  --component-button-authentication-bg---active: #a6adc8;
  --component-button-authentication-bg---disable: #45475a;
  --component-button-authentication-bg---hover: #bac2de;
  --component-button-authentication-bg---loading: #bac2de;
  --component-button-authentication-bg: #cdd6f4;
  --component-button-authentication-text---disable: #6c7086;
  --component-button-authentication-text: #1e1e2e;
  --component-button-close-icon---hover: #cdd6f4;
  --component-button-close-icon: #6c7086;
  --component-button-danger-bg---active: #d86a82;
  --component-button-danger-bg---disable: #45475a;
  --component-button-danger-bg---hover: #f5a8bb;
  --component-button-danger-bg---loading: #f8c4d0;
  --component-button-danger-bg: #f38ba8;
  --component-button-danger-text---disable: #6c7086;
  --component-button-danger-text: #1e1e2e;
  --component-button-neutral-bg---active: #45475a;
  --component-button-neutral-bg---disable: #45475a;
  --component-button-neutral-bg---hover: #313244;
  --component-button-neutral-bg---loading: #313244;
  --component-button-neutral-bg: #313244;
  --component-button-neutral-border: #45475a;
  --component-button-neutral-text---disable: #6c7086;
  --component-button-neutral-text: #cdd6f4;
  --component-button-primary-bg---active: #6a9ad8;
  --component-button-primary-bg---disable: #45475a;
  --component-button-primary-bg---hover: #a8c8fc;
  --component-button-primary-bg---loading: #c4d8fd;
  --component-button-primary-bg: #89b4fa;
  --component-button-primary-text---disable: #6c7086;
  --component-button-primary-text: #1e1e2e;
  --component-editor-menu-bg: #1e1e2e;
  --component-editor-menu-border: #45475a;
  --component-editor-menu-item-bg---active: #313244;
  --component-editor-menu-item-bg---hover: #313244;
  --component-editor-menu-item-bg---selected: #313244;
  --component-editor-menu-item-bg--input: #313244;
  --component-editor-menu-item-bg--key: #313244;
  --component-editor-menu-item-bg: #1e1e2e;
  --component-editor-menu-item-icon---hover: #bac2de;
  --component-editor-menu-item-icon: #a6adc8;
  --component-editor-menu-item-text--key: #6c7086;
  --component-editor-menu-item-text--placeholder: #7f849c;
  --component-editor-menu-item-text: #bac2de;
  --component-editor-menu-text: #a6adc8;
  --component-editor-node-loading-indicator-bg: #313244;
  --component-editor-node-loading-indicator-text: #a6adc8;
  --component-error-message-text--description: #a6adc8;
  --component-error-message-text--title: #cdd6f4;
  --component-input-bg--disable: #45475a;
  --component-input-bg: #1e1e2e;
  --component-input-border---active: #89b4fa;
  --component-input-border: #45475a;
  --component-input-button-icon---hover: #cdd6f4;
  --component-input-button-icon: #6c7086;
  --component-input-shadow---active: #2a3550;
  --component-input-text---disable: #6c7086;
  --component-input-text---placeholder: #6c7086;
  --component-input-text: #cdd6f4;
  --component-item-create-input-bg: #313244;
  --component-item-create-input-button-bg---hover: #bac2de;
  --component-item-create-input-button-bg---loading: #a6adc8;
  --component-item-create-input-button-bg: #cdd6f4;
  --component-item-create-input-button-icon: #1e1e2e;
  --component-item-create-input-text---placeholder: #6c7086;
  --component-item-create-input-text: #cdd6f4;
  --component-item-list-document-bg---hover: #313244;
  --component-item-list-document-bg: #1e1e2e;
  --component-item-list-document-border: #45475a;
  --component-item-list-document-text---hover: #cdd6f4;
  --component-item-list-document-text: #a6adc8;
  --component-loading-indicator-text: #cdd6f4;
  --component-menu-item-bg---active: #313244;
  --component-menu-item-bg---hover: #313244;
  --component-menu-item-bg: #1e1e2e;
  --component-menu-item-border: #45475a;
  --component-menu-item-text: #cdd6f4;
  --component-modal-bg--controller: #1e1e2e;
  --component-modal-bg: #1e1e2e;
  --component-modal-border: #45475a;
  --component-modal-text--content: #bac2de;
  --component-modal-text--title: #cdd6f4;
  --component-overview-title-text: #cdd6f4;
  --component-settings-modal-bg: #1e1e2e;
  --component-settings-modal-border: #45475a;
  --component-settings-modal-item-bg---hover: #313244;
  --component-settings-modal-item-bg---selected: #313244;
  --component-settings-modal-item-bg: #1e1e2e;
  --component-settings-modal-item-text: #cdd6f4;
  --component-settings-modal-text--item-description: #a6adc8;
  --component-settings-modal-text--item-title: #bac2de;
  --component-settings-modal-text--title: #cdd6f4;
  --component-status-text-text--error: #f38ba8;
  --component-status-text-text--success: #a6e3a1;
  --component-top-bar-badge-bg--blue: #89b4fa;
  --component-top-bar-badge-bg--red: #f38ba8;
  --component-top-bar-badge-bg--yellow: #f9e2af;
  --component-top-bar-badge-text--invert: #cdd6f4;
  --component-top-bar-badge-text: #1e1e2e;
  --component-top-bar-border: #45475a;
  --component-top-bar-logo: #cdd6f4;
  --component-writtte-editor-bg--element: #313244;
  --component-writtte-editor-bg--hr: #45475a;
  --component-writtte-editor-bg--inline-code: #313244;
  --component-writtte-editor-bg--list-item-marker: #7f849c;
  --component-writtte-editor-bg--text-selection: #2a3550;
  --component-writtte-editor-border--block---focused: #89b4fa;
  --component-writtte-editor-text---placeholder: #6c7086;
  --component-writtte-editor-text--h1: #cdd6f4;
  --component-writtte-editor-text--h2: #cdd6f4;
  --component-writtte-editor-text--h3: #cdd6f4;
  --component-writtte-editor-text--h4: #cdd6f4;
  --component-writtte-editor-text--h5: #cdd6f4;
  --component-writtte-editor-text--h6: #cdd6f4;
  --component-writtte-editor-text--link: #89b4fa;
  --component-writtte-editor-text--paragraph: #bac2de;
  --layout-bg--authentication: #1e1e2e;
  --layout-bg--dashboard: #1e1e2e;
}
