/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_gray"] {
  --shadow-panel: 0px 4px 24px rgba(15, 15, 15, 0.45);
  --shadow-alert: 0px 3px 12px rgba(15, 15, 15, 0.55);
  --shadow-menu: 0 4px 12px 0 rgba(15, 15, 15, 0.5);
  --shadow-modal: 0 4px 16px 0 rgba(15, 15, 15, 0.4), 0 8px 32px 0 rgba(15, 15, 15, 0.45);
  --shadow-popup: 0px 4px 12px rgba(15, 15, 15, 0.52);

  --color--bg-danger-100: #1b1b1b;
  --color--bg-danger-200: #252525;
  --color--bg-danger-300: #323232;
  --color--bg-danger-400: #3f3f3f;
  --color--bg-danger-500: #808080;
  --color--bg-danger-600: #a8a8a8;
  --color--bg-danger-700: #bfbfbf;
  --color--bg-dark-100: #0a0a0a;
  --color--bg-dark-200: #121212;
  --color--bg-dark-300: #1a1a1a;
  --color--bg-dark-400: #1f1f1f;
  --color--bg-dark-500: #272727;
  --color--bg-dark-600: #2e2e2e;
  --color--bg-dark-700: #383838;
  --color--bg-neutral-000: #1d1d1d;
  --color--bg-neutral-100: #1c1c1c;
  --color--bg-neutral-200: #232323;
  --color--bg-neutral-300: #2a2a2a;
  --color--bg-neutral-400: #343434;
  --color--bg-neutral-500: #3e3e3e;
  --color--bg-primary-100: #191919;
  --color--bg-primary-200: #222222;
  --color--bg-primary-300: #2c2c2c;
  --color--bg-primary-400: #353535;
  --color--bg-primary-500: #6b6b6b;
  --color--bg-primary-600: #a3a3a3;
  --color--bg-primary-700: #b8b8b8;
  --color--bg-yellow-100: #181818;
  --color--bg-yellow-200: #212121;
  --color--bg-yellow-300: #2b2b2b;
  --color--bg-yellow-400: #363636;
  --color--bg-yellow-500: #757575;
  --color--bg-yellow-600: #ababab;
  --color--bg-yellow-700: #c2c2c2;
  --color--border-bold: #4d4d4d;
  --color--border-danger: #808080;
  --color--border-invert: #e3e3e3;
  --color--border-primary: #707070;
  --color--border-strong: #3e3e3e;
  --color--border-weak: #343434;
  --color--text-alpha: #e3e3e3;
  --color--text-beta: #c2c2c2;
  --color--text-danger: #a8a8a8;
  --color--text-gamma: #999999;
  --color--text-invert: #e3e3e3;
  --color--text-primary: #a3a3a3;
  --color--text-success: #ababab;
}
