/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_solarized"] {
  --shadow-alert: none;
  --shadow-menu: none;
  --shadow-modal: none;

  --common-focus-neutral: #93a1a1;
  --common-scrollbar-bg: #586e75;
  --component-alert-bg: #002b36;
  --component-alert-border: #063946;
  --component-alert-text--content: #839496;
  --component-alert-text--title: #93a1a1;
  --component-authentication-form-bg-divider: #063946;
  --component-authentication-form-text--link: #93a1a1;
  --component-authentication-form-text--subtitle: #586e75;
  --component-authentication-form-text--title: #93a1a1;
  --component-authentication-header-logo: #839496;
  --component-button-action-bg---hover: #063946;
  --component-button-action-icon---hover: #93a1a1;
  --component-button-action-icon: #839496;
  --component-button-authentication-bg---active: #657b83;
  --component-button-authentication-bg---disable: #063946;
  --component-button-authentication-bg---hover: #839496;
  --component-button-authentication-bg---loading: #839496;
  --component-button-authentication-bg: #93a1a1;
  --component-button-authentication-text---disable: #586e75;
  --component-button-authentication-text: #002b36;
  --component-button-close-icon---hover: #93a1a1;
  --component-button-close-icon: #586e75;
  --component-button-danger-bg---active: #b82a28;
  --component-button-danger-bg---disable: #063946;
  --component-button-danger-bg---hover: #e35855;
  --component-button-danger-bg---loading: #eba8a6;
  --component-button-danger-bg: #dc322f;
  --component-button-danger-text---disable: #586e75;
  --component-button-danger-text: #002b36;
  --component-button-neutral-bg---active: #0a4a5a;
  --component-button-neutral-bg---disable: #063946;
  --component-button-neutral-bg---hover: #063946;
  --component-button-neutral-bg---loading: #063946;
  --component-button-neutral-bg: #063946;
  --component-button-neutral-border: #586e75;
  --component-button-neutral-text---disable: #586e75;
  --component-button-neutral-text: #93a1a1;
  --component-button-primary-bg---active: #1e76b4;
  --component-button-primary-bg---disable: #063946;
  --component-button-primary-bg---hover: #52a3e0;
  --component-button-primary-bg---loading: #90c4eb;
  --component-button-primary-bg: #268bd2;
  --component-button-primary-text---disable: #586e75;
  --component-button-primary-text: #002b36;
  --component-editor-menu-bg: #002b36;
  --component-editor-menu-border: #063946;
  --component-editor-menu-item-bg---active: #0a4a5a;
  --component-editor-menu-item-bg---hover: #063946;
  --component-editor-menu-item-bg---selected: #0a4a5a;
  --component-editor-menu-item-bg--input: #063946;
  --component-editor-menu-item-bg--key: #063946;
  --component-editor-menu-item-bg: #002b36;
  --component-editor-menu-item-icon---hover: #93a1a1;
  --component-editor-menu-item-icon: #839496;
  --component-editor-menu-item-text--key: #586e75;
  --component-editor-menu-item-text--placeholder: #586e75;
  --component-editor-menu-item-text: #839496;
  --component-editor-menu-text: #839496;
  --component-editor-node-loading-indicator-bg: #063946;
  --component-editor-node-loading-indicator-text: #839496;
  --component-error-message-text--description: #839496;
  --component-error-message-text--title: #93a1a1;
  --component-input-bg--disable: #063946;
  --component-input-bg: #002b36;
  --component-input-border---active: #268bd2;
  --component-input-border: #063946;
  --component-input-button-icon---hover: #93a1a1;
  --component-input-button-icon: #586e75;
  --component-input-shadow---active: #0a3d50;
  --component-input-text---disable: #586e75;
  --component-input-text---placeholder: #586e75;
  --component-input-text: #93a1a1;
  --component-item-create-input-bg: #063946;
  --component-item-create-input-button-bg---hover: #839496;
  --component-item-create-input-button-bg---loading: #657b83;
  --component-item-create-input-button-bg: #93a1a1;
  --component-item-create-input-button-icon: #002b36;
  --component-item-create-input-text---placeholder: #586e75;
  --component-item-create-input-text: #93a1a1;
  --component-item-list-document-bg---hover: #063946;
  --component-item-list-document-bg: #002b36;
  --component-item-list-document-border: #063946;
  --component-item-list-document-text---hover: #93a1a1;
  --component-item-list-document-text: #839496;
  --component-loading-indicator-text: #93a1a1;
  --component-menu-item-bg---active: #0a4a5a;
  --component-menu-item-bg---hover: #063946;
  --component-menu-item-bg: #002b36;
  --component-menu-item-border: #063946;
  --component-menu-item-text: #93a1a1;
  --component-modal-bg--controller: #002b36;
  --component-modal-bg: #002b36;
  --component-modal-border: #063946;
  --component-modal-text--content: #839496;
  --component-modal-text--title: #93a1a1;
  --component-overview-title-text: #93a1a1;
  --component-settings-modal-bg: #002b36;
  --component-settings-modal-border: #063946;
  --component-settings-modal-item-bg---hover: #063946;
  --component-settings-modal-item-bg---selected: #063946;
  --component-settings-modal-item-bg: #002b36;
  --component-settings-modal-item-text: #93a1a1;
  --component-settings-modal-text--item-description: #839496;
  --component-settings-modal-text--item-title: #839496;
  --component-settings-modal-text--title: #93a1a1;
  --component-status-text-text--error: #dc322f;
  --component-status-text-text--success: #859900;
  --component-top-bar-badge-bg--blue: #268bd2;
  --component-top-bar-badge-bg--red: #dc322f;
  --component-top-bar-badge-bg--yellow: #b58900;
  --component-top-bar-badge-text--invert: #93a1a1;
  --component-top-bar-badge-text: #002b36;
  --component-top-bar-border: #063946;
  --component-top-bar-logo: #93a1a1;
  --component-writtte-editor-bg--element: #063946;
  --component-writtte-editor-bg--hr: #063946;
  --component-writtte-editor-bg--inline-code: #063946;
  --component-writtte-editor-bg--list-item-marker: #586e75;
  --component-writtte-editor-bg--text-selection: #0a4a5a;
  --component-writtte-editor-border--block---focused: #268bd2;
  --component-writtte-editor-text---placeholder: #586e75;
  --component-writtte-editor-text--h1: #93a1a1;
  --component-writtte-editor-text--h2: #93a1a1;
  --component-writtte-editor-text--h3: #93a1a1;
  --component-writtte-editor-text--h4: #93a1a1;
  --component-writtte-editor-text--h5: #93a1a1;
  --component-writtte-editor-text--h6: #93a1a1;
  --component-writtte-editor-text--link: #268bd2;
  --component-writtte-editor-text--paragraph: #839496;
  --layout-bg--authentication: #002b36;
  --layout-bg--dashboard: #002b36;
}
