/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_dark_typewriter"] {
  --shadow-panel: 0px 4px 24px rgba(0, 0, 0, 0.55);
  --shadow-alert: 0px 3px 12px rgba(0, 0, 0, 0.6);
  --shadow-menu: 0 4px 12px 0 rgba(0, 0, 0, 0.58);
  --shadow-modal: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  --shadow-popup: 0px 4px 12px rgba(0, 0, 0, 0.62);

  --color--bg-danger-100: #1a0a0a;
  --color--bg-danger-200: #2d1414;
  --color--bg-danger-300: #451e1e;
  --color--bg-danger-400: #5d2a2a;
  --color--bg-danger-500: #8f4040;
  --color--bg-danger-600: #c75555;
  --color--bg-danger-700: #e07070;
  --color--bg-dark-100: #050505;
  --color--bg-dark-200: #0f0f0f;
  --color--bg-dark-300: #1c1c1c;
  --color--bg-dark-400: #2a2a2a;
  --color--bg-dark-500: #3a3a3a;
  --color--bg-dark-600: #4d4d4d;
  --color--bg-dark-700: #636363;
  --color--bg-neutral-000: #161616;
  --color--bg-neutral-100: #111111;
  --color--bg-neutral-200: #1d1d1d;
  --color--bg-neutral-300: #2c2c2c;
  --color--bg-neutral-400: #3d3d3d;
  --color--bg-neutral-500: #515151;
  --color--bg-primary-100: #0b0b0b;
  --color--bg-primary-200: #181818;
  --color--bg-primary-300: #292929;
  --color--bg-primary-400: #3e3e3e;
  --color--bg-primary-500: #5a5a5a;
  --color--bg-primary-600: #8a8a8a;
  --color--bg-primary-700: #adadad;
  --color--bg-yellow-100: #1a1508;
  --color--bg-yellow-200: #2d2410;
  --color--bg-yellow-300: #453818;
  --color--bg-yellow-400: #5d4d20;
  --color--bg-yellow-500: #8f7030;
  --color--bg-yellow-600: #c79d40;
  --color--bg-yellow-700: #e0b855;
  --color--border-bold: #5a5a5a;
  --color--border-danger: #b54545;
  --color--border-invert: #e8e8e8;
  --color--border-primary: #5a5a5a;
  --color--border-strong: #3d3d3d;
  --color--border-weak: #2c2c2c;
  --color--text-alpha: #e8e8e8;
  --color--text-beta: #c2c2c2;
  --color--text-danger: #e07070;
  --color--text-gamma: #8a8a8a;
  --color--text-invert: #e8e8e8;
  --color--text-primary: #d1d1d1;
  --color--text-success: #c2c2c2;
}
