/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_catppuccin"] {
  --shadow-alert: 0 3px 12px 0 rgba(76, 79, 105, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(76, 79, 105, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(76, 79, 105, 0.05), 0 8px 32px 0 rgba(76, 79, 105, 0.05);
  --shadow-popup: 0 4px 12px 0 rgba(76, 79, 105, 0.05);

  --common-focus-neutral: #4c4f69;
  --common-scrollbar-bg: #9ca0b0;
  --component-alert-bg: #eff1f5;
  --component-alert-border: #ccd0da;
  --component-alert-text--content: #6c6f85;
  --component-alert-text--title: #4c4f69;
  --component-authentication-form-bg-divider: #ccd0da;
  --component-authentication-form-text--link: #4c4f69;
  --component-authentication-form-text--subtitle: #7c7f93;
  --component-authentication-form-text--title: #4c4f69;
  --component-authentication-header-logo: #5c5f77;
  --component-button-action-bg---hover: #e6e9ef;
  --component-button-action-icon---hover: #4c4f69;
  --component-button-action-icon: #6c6f85;
  --component-button-authentication-bg---active: #3c3f55;
  --component-button-authentication-bg---disable: #ccd0da;
  --component-button-authentication-bg---hover: #5c5f77;
  --component-button-authentication-bg---loading: #6c6f85;
  --component-button-authentication-bg: #4c4f69;
  --component-button-authentication-text---disable: #9ca0b0;
  --component-button-authentication-text: #eff1f5;
  --component-button-close-icon---hover: #4c4f69;
  --component-button-close-icon: #9ca0b0;
  --component-button-danger-bg---active: #b80c2f;
  --component-button-danger-bg---disable: #ccd0da;
  --component-button-danger-bg---hover: #e64553;
  --component-button-danger-bg---loading: #f0a0a8;
  --component-button-danger-bg: #d20f39;
  --component-button-danger-text---disable: #9ca0b0;
  --component-button-danger-text: #eff1f5;
  --component-button-neutral-bg---active: #dce0e8;
  --component-button-neutral-bg---disable: #ccd0da;
  --component-button-neutral-bg---hover: #e6e9ef;
  --component-button-neutral-bg---loading: #e6e9ef;
  --component-button-neutral-bg: #eff1f5;
  --component-button-neutral-border: #ccd0da;
  --component-button-neutral-text---disable: #9ca0b0;
  --component-button-neutral-text: #4c4f69;
  --component-button-primary-bg---active: #1852c8;
  --component-button-primary-bg---disable: #ccd0da;
  --component-button-primary-bg---hover: #5088f8;
  --component-button-primary-bg---loading: #90b8fc;
  --component-button-primary-bg: #1e66f5;
  --component-button-primary-text---disable: #9ca0b0;
  --component-button-primary-text: #eff1f5;
  --component-editor-menu-bg: #eff1f5;
  --component-editor-menu-border: #ccd0da;
  --component-editor-menu-item-bg---active: #dce0e8;
  --component-editor-menu-item-bg---hover: #e6e9ef;
  --component-editor-menu-item-bg---selected: #dce0e8;
  --component-editor-menu-item-bg--input: #e6e9ef;
  --component-editor-menu-item-bg--key: #e6e9ef;
  --component-editor-menu-item-bg: #eff1f5;
  --component-editor-menu-item-icon---hover: #5c5f77;
  --component-editor-menu-item-icon: #6c6f85;
  --component-editor-menu-item-text--key: #9ca0b0;
  --component-editor-menu-item-text--placeholder: #7c7f93;
  --component-editor-menu-item-text: #5c5f77;
  --component-editor-menu-text: #6c6f85;
  --component-editor-node-loading-indicator-bg: #e6e9ef;
  --component-editor-node-loading-indicator-text: #6c6f85;
  --component-error-message-text--description: #6c6f85;
  --component-error-message-text--title: #4c4f69;
  --component-input-bg--disable: #ccd0da;
  --component-input-bg: #eff1f5;
  --component-input-border---active: #90b8fc;
  --component-input-border: #ccd0da;
  --component-input-button-icon---hover: #4c4f69;
  --component-input-button-icon: #9ca0b0;
  --component-input-shadow---active: #c8d8fc;
  --component-input-text---disable: #9ca0b0;
  --component-input-text---placeholder: #9ca0b0;
  --component-input-text: #4c4f69;
  --component-item-create-input-bg: #dce0e8;
  --component-item-create-input-button-bg---hover: #5c5f77;
  --component-item-create-input-button-bg---loading: #6c6f85;
  --component-item-create-input-button-bg: #4c4f69;
  --component-item-create-input-button-icon: #eff1f5;
  --component-item-create-input-text---placeholder: #9ca0b0;
  --component-item-create-input-text: #4c4f69;
  --component-item-list-document-bg---hover: #e6e9ef;
  --component-item-list-document-bg: #eff1f5;
  --component-item-list-document-border: #ccd0da;
  --component-item-list-document-text---hover: #4c4f69;
  --component-item-list-document-text: #6c6f85;
  --component-loading-indicator-text: #4c4f69;
  --component-menu-item-bg---active: #dce0e8;
  --component-menu-item-bg---hover: #e6e9ef;
  --component-menu-item-bg: #eff1f5;
  --component-menu-item-border: #ccd0da;
  --component-menu-item-text: #4c4f69;
  --component-modal-bg--controller: #eff1f5;
  --component-modal-bg: #eff1f5;
  --component-modal-border: #ccd0da;
  --component-modal-text--content: #5c5f77;
  --component-modal-text--title: #4c4f69;
  --component-overview-title-text: #4c4f69;
  --component-settings-modal-bg: #eff1f5;
  --component-settings-modal-border: #ccd0da;
  --component-settings-modal-item-bg---hover: #e6e9ef;
  --component-settings-modal-item-bg---selected: #e6e9ef;
  --component-settings-modal-item-bg: #eff1f5;
  --component-settings-modal-item-text: #4c4f69;
  --component-settings-modal-text--item-description: #6c6f85;
  --component-settings-modal-text--item-title: #5c5f77;
  --component-settings-modal-text--title: #4c4f69;
  --component-status-text-text--error: #d20f39;
  --component-status-text-text--success: #40a02b;
  --component-top-bar-badge-bg--blue: #1e66f5;
  --component-top-bar-badge-bg--red: #d20f39;
  --component-top-bar-badge-bg--yellow: #df8e1d;
  --component-top-bar-badge-text--invert: #4c4f69;
  --component-top-bar-badge-text: #eff1f5;
  --component-top-bar-border: #ccd0da;
  --component-top-bar-logo: #4c4f69;
  --component-writtte-editor-bg--loading: #dce0e8;
  --component-writtte-editor-bg--hr: #ccd0da;
  --component-writtte-editor-bg--inline-code: #dce0e8;
  --component-writtte-editor-bg--list-item-marker: #7c7f93;
  --component-writtte-editor-bg--text-selection: #c8d8fc;
  --component-writtte-editor-border--block---focused: #1e66f5;
  --component-writtte-editor-text---placeholder: #9ca0b0;
  --component-writtte-editor-text--h1: #4c4f69;
  --component-writtte-editor-text--h2: #4c4f69;
  --component-writtte-editor-text--h3: #4c4f69;
  --component-writtte-editor-text--h4: #4c4f69;
  --component-writtte-editor-text--h5: #4c4f69;
  --component-writtte-editor-text--h6: #4c4f69;
  --component-writtte-editor-text--link: #1e66f5;
  --component-writtte-editor-text--paragraph: #5c5f77;
  --layout-bg--authentication: #eff1f5;
  --layout-bg--dashboard: #eff1f5;
}
