/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_forest"] {
  --shadow-panel: 0px 4px 24px rgba(31, 45, 35, 0.06);
  --shadow-alert: 0px 3px 12px rgba(31, 45, 35, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(31, 45, 35, 0.09);
  --shadow-modal: 0 4px 16px 0 rgba(31, 45, 35, 0.04), 0 8px 32px 0 rgba(31, 45, 35, 0.05);
  --shadow-popup: 0px 4px 12px rgba(31, 45, 35, 0.1);

  --color--bg-danger-100: #f8f9f8;
  --color--bg-danger-200: #f2f4f2;
  --color--bg-danger-300: #e7eae6;
  --color--bg-danger-400: #dbdfd9;
  --color--bg-danger-500: #a3b09e;
  --color--bg-danger-600: #637a5e;
  --color--bg-danger-700: #51654c;
  --color--bg-dark-100: #a5aea7;
  --color--bg-dark-200: #5f6b61;
  --color--bg-dark-300: #4a5550;
  --color--bg-dark-400: #36423b;
  --color--bg-dark-500: #2a3530;
  --color--bg-dark-600: #1f2d23;
  --color--bg-dark-700: #0f1912;
  --color--bg-neutral-000: #fdfefc;
  --color--bg-neutral-100: #fafbf9;
  --color--bg-neutral-200: #f4f6f3;
  --color--bg-neutral-300: #eef1ed;
  --color--bg-neutral-400: #e7ebe5;
  --color--bg-neutral-500: #dde2da;
  --color--bg-primary-100: #f7faf7;
  --color--bg-primary-200: #f1f4f1;
  --color--bg-primary-300: #e4eae3;
  --color--bg-primary-400: #d7dfd5;
  --color--bg-primary-500: #a0b59c;
  --color--bg-primary-600: #5f856d;
  --color--bg-primary-700: #4d6e5b;
  --color--bg-yellow-100: #f6f8f5;
  --color--bg-yellow-200: #f3f5f1;
  --color--bg-yellow-300: #eaece6;
  --color--bg-yellow-400: #dfe3d9;
  --color--bg-yellow-500: #b4c0aa;
  --color--bg-yellow-600: #7f9370;
  --color--bg-yellow-700: #697c5c;
  --color--border-bold: #cad3c5;
  --color--border-danger: #a3b09e;
  --color--border-invert: #2a3530;
  --color--border-primary: #92a88d;
  --color--border-strong: #dde2da;
  --color--border-weak: #e7ebe5;
  --color--text-alpha: #2a3530;
  --color--text-beta: #4a5550;
  --color--text-danger: #637a5e;
  --color--text-gamma: #6e7d72;
  --color--text-invert: #fafbf9;
  --color--text-primary: #5f856d;
  --color--text-success: #62795d;
}
