/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_solarized"] {
  --shadow-panel: 0px 4px 24px rgba(101, 123, 131, 0.06);
  --shadow-alert: 0px 3px 12px rgba(101, 123, 131, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(101, 123, 131, 0.09);
  --shadow-modal: 0 4px 16px 0 rgba(101, 123, 131, 0.04), 0 8px 32px 0 rgba(101, 123, 131, 0.05);
  --shadow-popup: 0px 4px 12px rgba(101, 123, 131, 0.1);

  --color--bg-danger-100: #fcf5e2;
  --color--bg-danger-200: #f8e3d3;
  --color--bg-danger-300: #f3c8b7;
  --color--bg-danger-400: #edad9b;
  --color--bg-danger-500: #dc6e6e;
  --color--bg-danger-600: #dc322f;
  --color--bg-danger-700: #b8281f;
  --color--bg-dark-100: #93a1a1;
  --color--bg-dark-200: #657b83;
  --color--bg-dark-300: #586e75;
  --color--bg-dark-400: #4d6168;
  --color--bg-dark-500: #42545b;
  --color--bg-dark-600: #073642;
  --color--bg-dark-700: #002b36;
  --color--bg-neutral-000: #fef7e4;
  --color--bg-neutral-100: #fdf6e3;
  --color--bg-neutral-200: #ede7d4;
  --color--bg-neutral-300: #e7e0ca;
  --color--bg-neutral-400: #ded7c2;
  --color--bg-neutral-500: #d2cab7;
  --color--bg-primary-100: #f6f4ec;
  --color--bg-primary-200: #e8e5d8;
  --color--bg-primary-300: #d4cfb9;
  --color--bg-primary-400: #c0b99a;
  --color--bg-primary-500: #839496;
  --color--bg-primary-600: #268bd2;
  --color--bg-primary-700: #1f73b3;
  --color--bg-yellow-100: #faf3e0;
  --color--bg-yellow-200: #f8efd3;
  --color--bg-yellow-300: #f2e5b7;
  --color--bg-yellow-400: #ecdb9b;
  --color--bg-yellow-500: #d2b464;
  --color--bg-yellow-600: #b58900;
  --color--bg-yellow-700: #987200;
  --color--border-bold: #c9c1a8;
  --color--border-danger: #f0a89f;
  --color--border-invert: #073642;
  --color--border-primary: #9bbbd6;
  --color--border-strong: #d2cab7;
  --color--border-weak: #ded7c2;
  --color--text-alpha: #073642;
  --color--text-beta: #586e75;
  --color--text-danger: #dc322f;
  --color--text-gamma: #93a1a1;
  --color--text-invert: #fdf6e3;
  --color--text-primary: #268bd2;
  --color--text-success: #859900;
}
