/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_forest"] {
  --shadow-alert: 0 3px 12px 0 rgba(31, 45, 35, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(31, 45, 35, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(31, 45, 35, 0.05), 0 8px 32px 0 rgba(31, 45, 35, 0.05);
  --shadow-popup: 0 4px 12px 0 rgba(31, 45, 35, 0.05);
}
