/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_catppuccin"] {
  --shadow-panel: 0px 4px 24px rgba(76, 79, 105, 0.06);
  --shadow-alert: 0px 3px 12px rgba(76, 79, 105, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(76, 79, 105, 0.09);
  --shadow-modal: 0 4px 16px 0 rgba(76, 79, 105, 0.04), 0 8px 32px 0 rgba(76, 79, 105, 0.05);
  --shadow-popup: 0px 4px 12px rgba(76, 79, 105, 0.1);

  --color--bg-danger-100: #fdf6f6;
  --color--bg-danger-200: #fbedec;
  --color--bg-danger-300: #f8dad8;
  --color--bg-danger-400: #f4c7c4;
  --color--bg-danger-500: #ea999a;
  --color--bg-danger-600: #d20f39;
  --color--bg-danger-700: #b00e31;
  --color--bg-dark-100: #9ca0b0;
  --color--bg-dark-200: #6c6f85;
  --color--bg-dark-300: #5c5f77;
  --color--bg-dark-400: #4c4f69;
  --color--bg-dark-500: #3c3f5b;
  --color--bg-dark-600: #2c2f4d;
  --color--bg-dark-700: #1c1f3f;
  --color--bg-neutral-000: #f0f2f6;
  --color--bg-neutral-100: #eff1f5;
  --color--bg-neutral-200: #e5e8ee;
  --color--bg-neutral-300: #dbdfe7;
  --color--bg-neutral-400: #cbcfd9;
  --color--bg-neutral-500: #bbbfcb;
  --color--bg-primary-100: #f1f4fb;
  --color--bg-primary-200: #e2e8f7;
  --color--bg-primary-300: #c6d3f1;
  --color--bg-primary-400: #aabeeb;
  --color--bg-primary-500: #7895e0;
  --color--bg-primary-600: #1e66f5;
  --color--bg-primary-700: #1957d0;
  --color--bg-yellow-100: #fdfbf5;
  --color--bg-yellow-200: #fcf7e7;
  --color--bg-yellow-300: #faf0d0;
  --color--bg-yellow-400: #f8e9b9;
  --color--bg-yellow-500: #f4dc8c;
  --color--bg-yellow-600: #df8e1d;
  --color--bg-yellow-700: #bc7718;
  --color--border-bold: #bcc0cc;
  --color--border-danger: #eda0a3;
  --color--border-invert: #4c4f69;
  --color--border-primary: #8ca7e8;
  --color--border-strong: #cbcfd9;
  --color--border-weak: #dbdfe7;
  --color--text-alpha: #4c4f69;
  --color--text-beta: #5c5f77;
  --color--text-danger: #d20f39;
  --color--text-gamma: #6c6f85;
  --color--text-invert: #eff1f5;
  --color--text-primary: #1e66f5;
  --color--text-success: #40a02b;
}
