/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_cherry"] {
  --shadow-panel: 0px 4px 24px rgba(45, 36, 36, 0.06);
  --shadow-alert: 0px 3px 12px rgba(45, 36, 36, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(45, 36, 36, 0.09);
  --shadow-modal: 0 4px 16px 0 rgba(45, 36, 36, 0.04), 0 8px 32px 0 rgba(45, 36, 36, 0.05);
  --shadow-popup: 0px 4px 12px rgba(45, 36, 36, 0.1);

  --color--bg-danger-100: #fcf8f8;
  --color--bg-danger-200: #fbf2f2;
  --color--bg-danger-300: #f7e7e7;
  --color--bg-danger-400: #f2dbdb;
  --color--bg-danger-500: #d5a3a6;
  --color--bg-danger-600: #a86367;
  --color--bg-danger-700: #8d5154;
  --color--bg-dark-100: #aea5a6;
  --color--bg-dark-200: #6b5f60;
  --color--bg-dark-300: #544a4b;
  --color--bg-dark-400: #3d3637;
  --color--bg-dark-500: #2d2424;
  --color--bg-dark-600: #1f1718;
  --color--bg-dark-700: #0f0809;
  --color--bg-neutral-000: #fffcfc;
  --color--bg-neutral-100: #fdfbfb;
  --color--bg-neutral-200: #f9f6f6;
  --color--bg-neutral-300: #f4f0f0;
  --color--bg-neutral-400: #edeaea;
  --color--bg-neutral-500: #e3dede;
  --color--bg-primary-100: #fcfafa;
  --color--bg-primary-200: #f8f4f4;
  --color--bg-primary-300: #f0e8e9;
  --color--bg-primary-400: #e7dcdd;
  --color--bg-primary-500: #c4aaac;
  --color--bg-primary-600: #8f6e71;
  --color--bg-primary-700: #765c5e;
  --color--bg-yellow-100: #fbf9f9;
  --color--bg-yellow-200: #f8f4f3;
  --color--bg-yellow-300: #f2eae8;
  --color--bg-yellow-400: #eadfdc;
  --color--bg-yellow-500: #c9b4af;
  --color--bg-yellow-600: #9a8078;
  --color--bg-yellow-700: #806a63;
  --color--border-bold: #d5caca;
  --color--border-danger: #d5a3a6;
  --color--border-invert: #2d2424;
  --color--border-primary: #b89295;
  --color--border-strong: #e3dede;
  --color--border-weak: #edeaea;
  --color--text-alpha: #2d2424;
  --color--text-beta: #544a4b;
  --color--text-danger: #a86367;
  --color--text-gamma: #7a6e6f;
  --color--text-invert: #fdfbfb;
  --color--text-primary: #8f6e71;
  --color--text-success: #6d6362;
}
