/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light"] {
  --shadow-panel: 0px 4px 24px rgba(12, 12, 13, 0.07);
  --shadow-alert: 0px 3px 12px rgba(0, 0, 0, 0.09);
  --shadow-menu: 0 4px 12px 0 rgba(12, 12, 13, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(12, 12, 13, 0.05), 0 8px 32px 0 rgba(12, 12, 13, 0.05);
  --shadow-popup: 0px 4px 12px rgba(12, 12, 13, 0.12);

  --color--bg-danger-100: #fff5f5;
  --color--bg-danger-200: #ffe2e2;
  --color--bg-danger-300: #ffc4c5;
  --color--bg-danger-400: #ffa7a8;
  --color--bg-danger-500: #fe6c6e;
  --color--bg-danger-600: #fe3b3e;
  --color--bg-danger-700: #d83235;
  --color--bg-dark-100: #babcc0;
  --color--bg-dark-200: #5f636a;
  --color--bg-dark-300: #45484d;
  --color--bg-dark-400: #383a3e;
  --color--bg-dark-500: #2b2c2f;
  --color--bg-dark-600: #1c1d1e;
  --color--bg-dark-700: #050505;
  --color--bg-neutral-000: #ffffff;
  --color--bg-neutral-100: #fcfcfd;
  --color--bg-neutral-200: #f6f6f6;
  --color--bg-neutral-300: #eff0f1;
  --color--bg-neutral-400: #eaebec;
  --color--bg-neutral-500: #dedfe2;
  --color--bg-primary-100: #f6f8ff;
  --color--bg-primary-200: #e3ebff;
  --color--bg-primary-300: #c8d7ff;
  --color--bg-primary-400: #acc4ff;
  --color--bg-primary-500: #759cff;
  --color--bg-primary-600: #477bff;
  --color--bg-primary-700: #3c69d9;
  --color--bg-yellow-100: #fefcf3;
  --color--bg-yellow-200: #fdf6da;
  --color--bg-yellow-300: #fbecb5;
  --color--bg-yellow-400: #f8e390;
  --color--bg-yellow-500: #f4d146;
  --color--bg-yellow-600: #f0c108;
  --color--bg-yellow-700: #cca407;
  --color--border-bold: #d0d1d4;
  --color--border-danger: #ffa7a8;
  --color--border-invert: #1c1d1e;
  --color--border-primary: #acc4ff;
  --color--border-strong: #dedfe2;
  --color--border-weak: #eaebec;
  --color--text-alpha: #1c1d1e;
  --color--text-beta: #5f636a;
  --color--text-danger: #d83235;
  --color--text-gamma: #8b8f96;
  --color--text-invert: #ffffff;
  --color--text-primary: #477bff;
  --color--text-success: #2aa147;
}
