/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_blue"] {
  --shadow-panel: 0px 4px 24px rgba(15, 23, 42, 0.06);
  --shadow-alert: 0px 3px 12px rgba(15, 23, 42, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(15, 23, 42, 0.09);
  --shadow-modal: 0 4px 16px 0 rgba(15, 23, 42, 0.04), 0 8px 32px 0 rgba(15, 23, 42, 0.05);
  --shadow-popup: 0px 4px 12px rgba(15, 23, 42, 0.1);

  --color--bg-danger-100: #f8f9fa;
  --color--bg-danger-200: #f2f4f6;
  --color--bg-danger-300: #e7eaee;
  --color--bg-danger-400: #dbe0e6;
  --color--bg-danger-500: #a3b0c2;
  --color--bg-danger-600: #637a94;
  --color--bg-danger-700: #51657c;
  --color--bg-dark-100: #a5b0bd;
  --color--bg-dark-200: #5f6b7d;
  --color--bg-dark-300: #4a5568;
  --color--bg-dark-400: #364253;
  --color--bg-dark-500: #2a3544;
  --color--bg-dark-600: #1e2836;
  --color--bg-dark-700: #0f1729;
  --color--bg-neutral-000: #fdfdff;
  --color--bg-neutral-100: #fafbfc;
  --color--bg-neutral-200: #f4f6f8;
  --color--bg-neutral-300: #eef1f4;
  --color--bg-neutral-400: #e7ebef;
  --color--bg-neutral-500: #dde2e8;
  --color--bg-primary-100: #f7f9fa;
  --color--bg-primary-200: #f1f4f7;
  --color--bg-primary-300: #e4eaf0;
  --color--bg-primary-400: #d7dfe9;
  --color--bg-primary-500: #a0b5cc;
  --color--bg-primary-600: #5f85aa;
  --color--bg-primary-700: #4d6e8f;
  --color--bg-yellow-100: #f6f8f9;
  --color--bg-yellow-200: #f3f5f7;
  --color--bg-yellow-300: #eaeef2;
  --color--bg-yellow-400: #dfe5eb;
  --color--bg-yellow-500: #b4c0cf;
  --color--bg-yellow-600: #7f93ab;
  --color--bg-yellow-700: #697c92;
  --color--border-bold: #cad3de;
  --color--border-danger: #a3b0c2;
  --color--border-invert: #2a3544;
  --color--border-primary: #92a8c0;
  --color--border-strong: #dde2e8;
  --color--border-weak: #e7ebef;
  --color--text-alpha: #2a3544;
  --color--text-beta: #4a5568;
  --color--text-danger: #637a94;
  --color--text-gamma: #6e7d92;
  --color--text-invert: #fafbfc;
  --color--text-primary: #5f85aa;
  --color--text-success: #627990;
}
