/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_sepia"] {
  --shadow-panel: 0px 4px 24px rgba(58, 42, 26, 0.07);
  --shadow-alert: 0px 3px 12px rgba(58, 42, 26, 0.09);
  --shadow-menu: 0 4px 12px 0 rgba(58, 42, 26, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(58, 42, 26, 0.05), 0 8px 32px 0 rgba(58, 42, 26, 0.06);
  --shadow-popup: 0px 4px 12px rgba(58, 42, 26, 0.11);

  --color--bg-danger-100: #f9f7f3;
  --color--bg-danger-200: #f4f0e7;
  --color--bg-danger-300: #eae3d3;
  --color--bg-danger-400: #dfd5bf;
  --color--bg-danger-500: #b8a686;
  --color--bg-danger-600: #8a7455;
  --color--bg-danger-700: #725f45;
  --color--bg-dark-100: #a89f8d;
  --color--bg-dark-200: #6b5f4d;
  --color--bg-dark-300: #514639;
  --color--bg-dark-400: #3a2f25;
  --color--bg-dark-500: #2d241c;
  --color--bg-dark-600: #1f1914;
  --color--bg-dark-700: #110d09;
  --color--bg-neutral-000: #fdfbf8;
  --color--bg-neutral-100: #faf8f4;
  --color--bg-neutral-200: #f4f0e7;
  --color--bg-neutral-300: #ede9d8;
  --color--bg-neutral-400: #e5dfc9;
  --color--bg-neutral-500: #dbd3b9;
  --color--bg-primary-100: #f8f6f2;
  --color--bg-primary-200: #f2eee2;
  --color--bg-primary-300: #e7e0cd;
  --color--bg-primary-400: #dbd1b8;
  --color--bg-primary-500: #b5a080;
  --color--bg-primary-600: #867050;
  --color--bg-primary-700: #6e5c42;
  --color--bg-yellow-100: #f7f5f1;
  --color--bg-yellow-200: #f3efe2;
  --color--bg-yellow-300: #eae2cf;
  --color--bg-yellow-400: #dfd4ba;
  --color--bg-yellow-500: #c4ad7d;
  --color--bg-yellow-600: #9c834d;
  --color--bg-yellow-700: #826d40;
  --color--border-bold: #cdc3aa;
  --color--border-danger: #b8a686;
  --color--border-invert: #2d241c;
  --color--border-primary: #a59270;
  --color--border-strong: #dbd3b9;
  --color--border-weak: #e5dfc9;
  --color--text-alpha: #2d241c;
  --color--text-beta: #514639;
  --color--text-danger: #8a7455;
  --color--text-gamma: #6e6153;
  --color--text-invert: #faf8f4;
  --color--text-primary: #867050;
  --color--text-success: #6b5f4d;
}
