/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_typewriter"] {
  --shadow-panel: 0px 4px 24px rgba(26, 26, 26, 0.05);
  --shadow-alert: 0px 3px 12px rgba(26, 26, 26, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(26, 26, 26, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(26, 26, 26, 0.04), 0 8px 32px 0 rgba(26, 26, 26, 0.05);
  --shadow-popup: 0px 4px 12px rgba(26, 26, 26, 0.12);

  --color--bg-danger-100: #f9f9f8;
  --color--bg-danger-200: #f4f3f2;
  --color--bg-danger-300: #eae8e6;
  --color--bg-danger-400: #dfddd9;
  --color--bg-danger-500: #8b7a72;
  --color--bg-danger-600: #5d4e46;
  --color--bg-danger-700: #3d342e;
  --color--bg-dark-100: #757575;
  --color--bg-dark-200: #4a4a4a;
  --color--bg-dark-300: #333333;
  --color--bg-dark-400: #2b2b2b;
  --color--bg-dark-500: #1f1f1f;
  --color--bg-dark-600: #1a1a1a;
  --color--bg-dark-700: #0f0f0f;
  --color--bg-neutral-000: #ffffff;
  --color--bg-neutral-100: #fafaf9;
  --color--bg-neutral-200: #f4f3f2;
  --color--bg-neutral-300: #eeecea;
  --color--bg-neutral-400: #e7e5e2;
  --color--bg-neutral-500: #ddd9d5;
  --color--bg-primary-100: #f8f8f7;
  --color--bg-primary-200: #f2f2f1;
  --color--bg-primary-300: #e5e4e2;
  --color--bg-primary-400: #d8d7d4;
  --color--bg-primary-500: #898882;
  --color--bg-primary-600: #494949;
  --color--bg-primary-700: #323232;
  --color--bg-yellow-100: #f7f7f6;
  --color--bg-yellow-200: #f3f2f0;
  --color--bg-yellow-300: #ebe9e5;
  --color--bg-yellow-400: #e2dfd9;
  --color--bg-yellow-500: #a6a093;
  --color--bg-yellow-600: #706b5f;
  --color--bg-yellow-700: #4d4942;
  --color--border-bold: #c7c5c1;
  --color--border-danger: #8b7a72;
  --color--border-invert: #1a1a1a;
  --color--border-primary: #757575;
  --color--border-strong: #ddd9d5;
  --color--border-weak: #e7e5e2;
  --color--text-alpha: #1a1a1a;
  --color--text-beta: #4a4a4a;
  --color--text-danger: #5d4e46;
  --color--text-gamma: #757575;
  --color--text-invert: #fafaf9;
  --color--text-primary: #333333;
  --color--text-success: #4a4a4a;
}
