/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_blue"] {
  --shadow-alert: 0 3px 12px 0 rgba(15, 23, 42, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(15, 23, 42, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(15, 23, 42, 0.05), 0 8px 32px 0 rgba(15, 23, 42, 0.05);
  --shadow-popup: 0 4px 12px 0 rgba(15, 23, 42, 0.05);

  --common-focus-neutral: #0f172a;
  --common-scrollbar-bg: #94a3b8;
  --component-alert-bg: #f8fafc;
  --component-alert-border: #cbd5e1;
  --component-alert-text--content: #64748b;
  --component-alert-text--title: #1e293b;
  --component-authentication-form-bg-divider: #cbd5e1;
  --component-authentication-form-text--link: #1e293b;
  --component-authentication-form-text--subtitle: #64748b;
  --component-authentication-form-text--title: #1e293b;
  --component-authentication-header-logo: #334155;
  --component-button-action-bg---hover: #f1f5f9;
  --component-button-action-icon---hover: #1e293b;
  --component-button-action-icon: #64748b;
  --component-button-authentication-bg---active: #0f172a;
  --component-button-authentication-bg---disable: #cbd5e1;
  --component-button-authentication-bg---hover: #334155;
  --component-button-authentication-bg---loading: #475569;
  --component-button-authentication-bg: #1e293b;
  --component-button-authentication-text---disable: #94a3b8;
  --component-button-authentication-text: #f8fafc;
  --component-button-close-icon---hover: #1e293b;
  --component-button-close-icon: #94a3b8;
  --component-button-danger-bg---active: #dc2626;
  --component-button-danger-bg---disable: #cbd5e1;
  --component-button-danger-bg---hover: #f87171;
  --component-button-danger-bg---loading: #fca5a5;
  --component-button-danger-bg: #ef4444;
  --component-button-danger-text---disable: #94a3b8;
  --component-button-danger-text: #f8fafc;
  --component-button-neutral-bg---active: #e2e8f0;
  --component-button-neutral-bg---disable: #cbd5e1;
  --component-button-neutral-bg---hover: #f1f5f9;
  --component-button-neutral-bg---loading: #f1f5f9;
  --component-button-neutral-bg: #fbfcfd;
  --component-button-neutral-border: #cbd5e1;
  --component-button-neutral-text---disable: #94a3b8;
  --component-button-neutral-text: #1e293b;
  --component-button-primary-bg---active: #2563eb;
  --component-button-primary-bg---disable: #cbd5e1;
  --component-button-primary-bg---hover: #60a5fa;
  --component-button-primary-bg---loading: #93c5fd;
  --component-button-primary-bg: #3b82f6;
  --component-button-primary-text---disable: #94a3b8;
  --component-button-primary-text: #ffffff;
  --component-editor-menu-bg: #f8fafc;
  --component-editor-menu-border: #cbd5e1;
  --component-editor-menu-item-bg---active: #e2e8f0;
  --component-editor-menu-item-bg---hover: #f1f5f9;
  --component-editor-menu-item-bg---selected: #e2e8f0;
  --component-editor-menu-item-bg--input: #f1f5f9;
  --component-editor-menu-item-bg--key: #f1f5f9;
  --component-editor-menu-item-bg: #f8fafc;
  --component-editor-menu-item-icon---hover: #334155;
  --component-editor-menu-item-icon: #64748b;
  --component-editor-menu-item-text--key: #94a3b8;
  --component-editor-menu-item-text--placeholder: #64748b;
  --component-editor-menu-item-text: #334155;
  --component-editor-menu-text: #64748b;
  --component-editor-node-loading-indicator-bg: #f1f5f9;
  --component-editor-node-loading-indicator-text: #64748b;
  --component-error-message-text--description: #64748b;
  --component-error-message-text--title: #1e293b;
  --component-input-bg--disable: #cbd5e1;
  --component-input-bg: #f8fafc;
  --component-input-border---active: #93c5fd;
  --component-input-border: #cbd5e1;
  --component-input-button-icon---hover: #1e293b;
  --component-input-button-icon: #94a3b8;
  --component-input-shadow---active: #bfdbfe;
  --component-input-text---disable: #94a3b8;
  --component-input-text---placeholder: #94a3b8;
  --component-input-text: #1e293b;
  --component-item-create-input-bg: #e2e8f0;
  --component-item-create-input-button-bg---hover: #334155;
  --component-item-create-input-button-bg---loading: #475569;
  --component-item-create-input-button-bg: #1e293b;
  --component-item-create-input-button-icon: #f8fafc;
  --component-item-create-input-text---placeholder: #94a3b8;
  --component-item-create-input-text: #1e293b;
  --component-item-list-document-bg---hover: #f1f5f9;
  --component-item-list-document-bg: #f8fafc;
  --component-item-list-document-border: #cbd5e1;
  --component-item-list-document-text---hover: #1e293b;
  --component-item-list-document-text: #64748b;
  --component-loading-indicator-text: #1e293b;
  --component-menu-item-bg---active: #e2e8f0;
  --component-menu-item-bg---hover: #f1f5f9;
  --component-menu-item-bg: #f8fafc;
  --component-menu-item-border: #cbd5e1;
  --component-menu-item-text: #1e293b;
  --component-modal-bg--controller: #f8fafc;
  --component-modal-bg: #f8fafc;
  --component-modal-border: #cbd5e1;
  --component-modal-text--content: #475569;
  --component-modal-text--title: #1e293b;
  --component-overview-title-text: #1e293b;
  --component-settings-modal-bg: #f8fafc;
  --component-settings-modal-border: #cbd5e1;
  --component-settings-modal-item-bg---hover: #f1f5f9;
  --component-settings-modal-item-bg---selected: #f1f5f9;
  --component-settings-modal-item-bg: #f8fafc;
  --component-settings-modal-item-text: #1e293b;
  --component-settings-modal-text--item-description: #64748b;
  --component-settings-modal-text--item-title: #334155;
  --component-settings-modal-text--title: #1e293b;
  --component-status-text-text--error: #ef4444;
  --component-status-text-text--success: #22c55e;
  --component-top-bar-badge-bg--blue: #60a5fa;
  --component-top-bar-badge-bg--red: #ef4444;
  --component-top-bar-badge-bg--yellow: #eab308;
  --component-top-bar-badge-text--invert: #1e293b;
  --component-top-bar-badge-text: #ffffff;
  --component-top-bar-border: #cbd5e1;
  --component-top-bar-logo: #1e293b;
  --component-writtte-editor-bg--loading: #e2e8f0;
  --component-writtte-editor-bg--hr: #cbd5e1;
  --component-writtte-editor-bg--inline-code: #e2e8f0;
  --component-writtte-editor-bg--list-item-marker: #64748b;
  --component-writtte-editor-bg--text-selection: #dbeafe;
  --component-writtte-editor-border--block---focused: #3b82f6;
  --component-writtte-editor-text---placeholder: #94a3b8;
  --component-writtte-editor-text--h1: #1e293b;
  --component-writtte-editor-text--h2: #1e293b;
  --component-writtte-editor-text--h3: #1e293b;
  --component-writtte-editor-text--h4: #1e293b;
  --component-writtte-editor-text--h5: #1e293b;
  --component-writtte-editor-text--h6: #1e293b;
  --component-writtte-editor-text--link: #3b82f6;
  --component-writtte-editor-text--paragraph: #475569;
  --layout-bg--authentication: #f8fafc;
  --layout-bg--dashboard: #f8fafc;
}
