/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_sepia"] {
  --shadow-alert: 0 3px 12px 0 rgba(58, 42, 26, 0.09);
  --shadow-menu: 0 4px 12px 0 rgba(58, 42, 26, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(58, 42, 26, 0.05), 0 8px 32px 0 rgba(58, 42, 26, 0.05);
  --shadow-popup: 0 4px 12px 0 rgba(58, 42, 26, 0.05);
}
