/* biome-ignore format: Style variables should not be formatted */
html[data-color-theme="theme_light_solarized"] {
  --shadow-alert: 0 3px 12px 0 rgba(88, 110, 117, 0.08);
  --shadow-menu: 0 4px 12px 0 rgba(88, 110, 117, 0.1);
  --shadow-modal: 0 4px 16px 0 rgba(88, 110, 117, 0.05), 0 8px 32px 0 rgba(88, 110, 117, 0.05);
  --shadow-popup: 0 4px 12px 0 rgba(88, 110, 117, 0.05);

  --common-focus-neutral: #586e75;
  --common-scrollbar-bg: #93a1a1;
  --component-alert-bg: #fdf6e3;
  --component-alert-border: #EAE3CC;
  --component-alert-text--content: #657b83;
  --component-alert-text--title: #586e75;
  --component-authentication-form-bg-divider: #EAE3CC;
  --component-authentication-form-text--link: #586e75;
  --component-authentication-form-text--subtitle: #93a1a1;
  --component-authentication-form-text--title: #586e75;
  --component-authentication-header-logo: #657b83;
  --component-button-action-bg---hover: #EAE3CC;
  --component-button-action-icon---hover: #586e75;
  --component-button-action-icon: #657b83;
  --component-button-authentication-bg---active: #073642;
  --component-button-authentication-bg---disable: #EAE3CC;
  --component-button-authentication-bg---hover: #586e75;
  --component-button-authentication-bg---loading: #657b83;
  --component-button-authentication-bg: #586e75;
  --component-button-authentication-text---disable: #93a1a1;
  --component-button-authentication-text: #fdf6e3;
  --component-button-close-icon---hover: #586e75;
  --component-button-close-icon: #93a1a1;
  --component-button-danger-bg---active: #b82a28;
  --component-button-danger-bg---disable: #EAE3CC;
  --component-button-danger-bg---hover: #e35855;
  --component-button-danger-bg---loading: #eba8a6;
  --component-button-danger-bg: #dc322f;
  --component-button-danger-text---disable: #93a1a1;
  --component-button-danger-text: #fdf6e3;
  --component-button-neutral-bg---active: #e6dfc8;
  --component-button-neutral-bg---disable: #EAE3CC;
  --component-button-neutral-bg---hover: #EAE3CC;
  --component-button-neutral-bg---loading: #EAE3CC;
  --component-button-neutral-bg: #fdf6e3;
  --component-button-neutral-border: #EAE3CC;
  --component-button-neutral-text---disable: #93a1a1;
  --component-button-neutral-text: #586e75;
  --component-button-primary-bg---active: #1e76b4;
  --component-button-primary-bg---disable: #EAE3CC;
  --component-button-primary-bg---hover: #52a3e0;
  --component-button-primary-bg---loading: #90c4eb;
  --component-button-primary-bg: #268bd2;
  --component-button-primary-text---disable: #93a1a1;
  --component-button-primary-text: #fdf6e3;
  --component-editor-menu-bg: #fdf6e3;
  --component-editor-menu-border: #EAE3CC;
  --component-editor-menu-item-bg---active: #e6dfc8;
  --component-editor-menu-item-bg---hover: #EAE3CC;
  --component-editor-menu-item-bg---selected: #e6dfc8;
  --component-editor-menu-item-bg--input: #EAE3CC;
  --component-editor-menu-item-bg--key: #EAE3CC;
  --component-editor-menu-item-bg: #fdf6e3;
  --component-editor-menu-item-icon---hover: #586e75;
  --component-editor-menu-item-icon: #657b83;
  --component-editor-menu-item-text--key: #93a1a1;
  --component-editor-menu-item-text--placeholder: #93a1a1;
  --component-editor-menu-item-text: #657b83;
  --component-editor-menu-text: #657b83;
  --component-editor-node-loading-indicator-bg: #EAE3CC;
  --component-editor-node-loading-indicator-text: #657b83;
  --component-error-message-text--description: #657b83;
  --component-error-message-text--title: #586e75;
  --component-input-bg--disable: #EAE3CC;
  --component-input-bg: #fdf6e3;
  --component-input-border---active: #90c4eb;
  --component-input-border: #EAE3CC;
  --component-input-button-icon---hover: #586e75;
  --component-input-button-icon: #93a1a1;
  --component-input-shadow---active: #c8dff0;
  --component-input-text---disable: #93a1a1;
  --component-input-text---placeholder: #93a1a1;
  --component-input-text: #586e75;
  --component-item-create-input-bg: #EAE3CC;
  --component-item-create-input-button-bg---hover: #657b83;
  --component-item-create-input-button-bg---loading: #839496;
  --component-item-create-input-button-bg: #586e75;
  --component-item-create-input-button-icon: #fdf6e3;
  --component-item-create-input-text---placeholder: #93a1a1;
  --component-item-create-input-text: #586e75;
  --component-item-list-document-bg---hover: #EAE3CC;
  --component-item-list-document-bg: #fdf6e3;
  --component-item-list-document-border: #EAE3CC;
  --component-item-list-document-text---hover: #586e75;
  --component-item-list-document-text: #657b83;
  --component-loading-indicator-text: #586e75;
  --component-menu-item-bg---active: #e6dfc8;
  --component-menu-item-bg---hover: #EAE3CC;
  --component-menu-item-bg: #fdf6e3;
  --component-menu-item-border: #EAE3CC;
  --component-menu-item-text: #586e75;
  --component-modal-bg--controller: #fdf6e3;
  --component-modal-bg: #fdf6e3;
  --component-modal-border: #EAE3CC;
  --component-modal-text--content: #657b83;
  --component-modal-text--title: #586e75;
  --component-overview-title-text: #586e75;
  --component-settings-modal-bg: #fdf6e3;
  --component-settings-modal-border: #EAE3CC;
  --component-settings-modal-item-bg---hover: #EAE3CC;
  --component-settings-modal-item-bg---selected: #EAE3CC;
  --component-settings-modal-item-bg: #fdf6e3;
  --component-settings-modal-item-text: #586e75;
  --component-settings-modal-text--item-description: #657b83;
  --component-settings-modal-text--item-title: #586e75;
  --component-settings-modal-text--title: #586e75;
  --component-status-text-text--error: #dc322f;
  --component-status-text-text--success: #859900;
  --component-top-bar-badge-bg--blue: #268bd2;
  --component-top-bar-badge-bg--red: #dc322f;
  --component-top-bar-badge-bg--yellow: #b58900;
  --component-top-bar-badge-text--invert: #586e75;
  --component-top-bar-badge-text: #fdf6e3;
  --component-top-bar-border: #EAE3CC;
  --component-top-bar-logo: #586e75;
  --component-writtte-editor-bg--loading: #EAE3CC;
  --component-writtte-editor-bg--hr: #EAE3CC;
  --component-writtte-editor-bg--inline-code: #EAE3CC;
  --component-writtte-editor-bg--list-item-marker: #93a1a1;
  --component-writtte-editor-bg--text-selection: #e6dfc8;
  --component-writtte-editor-border--block---focused: #268bd2;
  --component-writtte-editor-text---placeholder: #93a1a1;
  --component-writtte-editor-text--h1: #586e75;
  --component-writtte-editor-text--h2: #586e75;
  --component-writtte-editor-text--h3: #586e75;
  --component-writtte-editor-text--h4: #586e75;
  --component-writtte-editor-text--h5: #586e75;
  --component-writtte-editor-text--h6: #586e75;
  --component-writtte-editor-text--link: #268bd2;
  --component-writtte-editor-text--paragraph: #657b83;
  --layout-bg--authentication: #fdf6e3;
  --layout-bg--dashboard: #fdf6e3;
}
