:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --default-dark-blue: #5988ff;
  --default-dark-brown: #b48c6e;
  --default-dark-cyan: #1ac6ea;
  --default-dark-green: #46c465;
  --default-dark-indigo: #7166f6;
  --default-dark-mint: #1acdbb;
  --default-dark-orange: #ff983e;
  --default-dark-pink: #ff4166;
  --default-dark-purple: #d045e3;
  --default-dark-red: #fe4f51;
  --default-dark-teal: #1cc9d6;
  --default-dark-yellow: #f1c721;
  --default-light-blue: #477bff;
  --default-light-brown: #ac7f5e;
  --default-light-cyan: #00c0e8;
  --default-light-green: #31bd54;
  --default-light-indigo: #6155f5;
  --default-light-mint: #00c8b3;
  --default-light-orange: #ff8d28;
  --default-light-pink: #ff2c55;
  --default-light-purple: #cb30e0;
  --default-light-red: #fe3b3e;
  --default-light-teal: #03c3d1;
  --default-light-yellow: #f0c108;
  --global-dark-blue-10: #162240;
  --global-dark-blue-11: #0d1426;
  --global-dark-blue-1: #f7f9ff;
  --global-dark-blue-2: #e6edff;
  --global-dark-blue-3: #cddbff;
  --global-dark-blue-4: #b4c9ff;
  --global-dark-blue-5: #83a6ff;
  --global-dark-blue-6: #5988ff;
  --global-dark-blue-7: #4c74d9;
  --global-dark-blue-8: #3a58a6;
  --global-dark-blue-9: #283d73;
  --global-dark-brown-10: #2d231c;
  --global-dark-brown-11: #1b1511;
  --global-dark-brown-1: #fbf9f8;
  --global-dark-brown-2: #f4eee9;
  --global-dark-brown-3: #e9ddd4;
  --global-dark-brown-4: #ddcbbe;
  --global-dark-brown-5: #c7a992;
  --global-dark-brown-6: #b48c6e;
  --global-dark-brown-7: #99775e;
  --global-dark-brown-8: #755b48;
  --global-dark-brown-9: #513f31;
  --global-dark-cyan-10: #07323b;
  --global-dark-cyan-11: #041e23;
  --global-dark-cyan-1: #f4fcfe;
  --global-dark-cyan-2: #ddf6fc;
  --global-dark-cyan-3: #baeef9;
  --global-dark-cyan-4: #98e5f6;
  --global-dark-cyan-5: #53d4ef;
  --global-dark-cyan-6: #1ac6ea;
  --global-dark-cyan-7: #16a8c7;
  --global-dark-cyan-8: #118198;
  --global-dark-cyan-9: #0c5969;
  --global-dark-green-10: #123119;
  --global-dark-green-11: #0b1d0f;
  --global-dark-green-1: #f6fcf7;
  --global-dark-green-2: #e3f6e8;
  --global-dark-green-3: #c8edd1;
  --global-dark-green-4: #ace4ba;
  --global-dark-green-5: #74d38c;
  --global-dark-green-6: #46c465;
  --global-dark-green-7: #3ca756;
  --global-dark-green-8: #2e7f42;
  --global-dark-green-9: #1f582d;
  --global-dark-indigo-10: #1c1a3e;
  --global-dark-indigo-11: #110f25;
  --global-dark-indigo-1: #f8f7ff;
  --global-dark-indigo-2: #eae8fe;
  --global-dark-indigo-3: #d4d1fc;
  --global-dark-indigo-4: #bfbafb;
  --global-dark-indigo-5: #958cf8;
  --global-dark-indigo-6: #7166f6;
  --global-dark-indigo-7: #6057d1;
  --global-dark-indigo-8: #4942a0;
  --global-dark-indigo-9: #332e6f;
  --global-dark-mint-10: #07332f;
  --global-dark-mint-11: #041f1c;
  --global-dark-mint-1: #f4fdfc;
  --global-dark-mint-2: #ddf8f5;
  --global-dark-mint-3: #baf0eb;
  --global-dark-mint-4: #98e9e0;
  --global-dark-mint-5: #53dacc;
  --global-dark-mint-6: #1acdbb;
  --global-dark-mint-7: #16ae9f;
  --global-dark-mint-8: #11857a;
  --global-dark-mint-9: #0c5c54;
  --global-dark-orange-10: #402610;
  --global-dark-orange-11: #261709;
  --global-dark-orange-1: #fffaf5;
  --global-dark-orange-2: #fff0e2;
  --global-dark-orange-3: #ffe0c5;
  --global-dark-orange-4: #ffd1a8;
  --global-dark-orange-5: #ffb26e;
  --global-dark-orange-6: #ff983e;
  --global-dark-orange-7: #d98135;
  --global-dark-orange-8: #a66328;
  --global-dark-orange-9: #73441c;
  --global-dark-pink-10: #40101a;
  --global-dark-pink-11: #260a0f;
  --global-dark-pink-1: #fff6f7;
  --global-dark-pink-2: #ffe3e8;
  --global-dark-pink-3: #ffc6d1;
  --global-dark-pink-4: #ffaaba;
  --global-dark-pink-5: #ff718c;
  --global-dark-pink-6: #ff4166;
  --global-dark-pink-7: #d93757;
  --global-dark-pink-8: #a62a42;
  --global-dark-pink-9: #731d2e;
  --global-dark-purple-10: #341139;
  --global-dark-purple-11: #1f0a22;
  --global-dark-purple-1: #fdf6fe;
  --global-dark-purple-2: #f8e3fb;
  --global-dark-purple-3: #f1c7f7;
  --global-dark-purple-4: #eaabf2;
  --global-dark-purple-5: #dc74ea;
  --global-dark-purple-6: #d045e3;
  --global-dark-purple-7: #b13bc1;
  --global-dark-purple-8: #872d94;
  --global-dark-purple-9: #5e1f66;
  --global-dark-red-10: #401414;
  --global-dark-red-11: #260c0c;
  --global-dark-red-1: #fff6f6;
  --global-dark-red-2: #ffe5e5;
  --global-dark-red-3: #ffcacb;
  --global-dark-red-4: #ffb0b1;
  --global-dark-red-5: #fe7b7d;
  --global-dark-red-6: #fe4f51;
  --global-dark-red-7: #d84345;
  --global-dark-red-8: #a53335;
  --global-dark-red-9: #722424;
  --global-dark-teal-10: #073236;
  --global-dark-teal-11: #041e20;
  --global-dark-teal-1: #f4fcfd;
  --global-dark-teal-2: #ddf7f9;
  --global-dark-teal-3: #bbeff3;
  --global-dark-teal-4: #99e7ed;
  --global-dark-teal-5: #55d7e0;
  --global-dark-teal-6: #1cc9d6;
  --global-dark-teal-7: #18abb6;
  --global-dark-teal-8: #12838b;
  --global-dark-teal-9: #0d5a60;
  --global-dark-yellow-10: #3c3208;
  --global-dark-yellow-11: #241e05;
  --global-dark-yellow-1: #fefcf4;
  --global-dark-yellow-2: #fdf7de;
  --global-dark-yellow-3: #fbeebc;
  --global-dark-yellow-4: #f9e69b;
  --global-dark-yellow-5: #f5d559;
  --global-dark-yellow-6: #f1c721;
  --global-dark-yellow-7: #cda91c;
  --global-dark-yellow-8: #9d8115;
  --global-dark-yellow-9: #6c5a0f;
  --global-light-blue-10: #121f40;
  --global-light-blue-11: #0b1226;
  --global-light-blue-1: #f6f8ff;
  --global-light-blue-2: #e3ebff;
  --global-light-blue-3: #c8d7ff;
  --global-light-blue-4: #acc4ff;
  --global-light-blue-5: #759cff;
  --global-light-blue-6: #477bff;
  --global-light-blue-7: #3c69d9;
  --global-light-blue-8: #2e50a6;
  --global-light-blue-9: #203773;
  --global-light-brown-10: #2b2018;
  --global-light-brown-11: #1a130e;
  --global-light-brown-1: #fbf9f7;
  --global-light-brown-2: #f3ece7;
  --global-light-brown-3: #e6d9cf;
  --global-light-brown-4: #dac5b7;
  --global-light-brown-5: #c19f86;
  --global-light-brown-6: #ac7f5e;
  --global-light-brown-7: #926c50;
  --global-light-brown-8: #70533d;
  --global-light-brown-9: #4d392a;
  --global-light-cyan-10: #00303a;
  --global-light-cyan-11: #001d23;
  --global-light-cyan-1: #f2fcfe;
  --global-light-cyan-2: #d9f6fc;
  --global-light-cyan-3: #b3ecf8;
  --global-light-cyan-4: #8ce3f5;
  --global-light-cyan-5: #40d0ee;
  --global-light-cyan-6: #00c0e8;
  --global-light-cyan-7: #00a3c5;
  --global-light-cyan-8: #007d97;
  --global-light-cyan-9: #005668;
  --global-light-green-10: #0c2f15;
  --global-light-green-11: #071c0d;
  --global-light-green-1: #f5fcf6;
  --global-light-green-2: #e0f5e5;
  --global-light-green-3: #c1ebcc;
  --global-light-green-4: #a2e1b2;
  --global-light-green-5: #65ce7f;
  --global-light-green-6: #31bd54;
  --global-light-green-7: #2aa147;
  --global-light-green-8: #207b37;
  --global-light-green-9: #165526;
  --global-light-indigo-10: #18153d;
  --global-light-indigo-11: #0f0d25;
  --global-light-indigo-1: #f7f7ff;
  --global-light-indigo-2: #e7e6fe;
  --global-light-indigo-3: #d0ccfc;
  --global-light-indigo-4: #b8b3fb;
  --global-light-indigo-5: #8980f8;
  --global-light-indigo-6: #6155f5;
  --global-light-indigo-7: #5248d0;
  --global-light-indigo-8: #3f379f;
  --global-light-indigo-9: #2c266e;
  --global-light-mint-10: #00322d;
  --global-light-mint-11: #001e1b;
  --global-light-mint-1: #f2fcfb;
  --global-light-mint-2: #d9f7f4;
  --global-light-mint-3: #b3efe8;
  --global-light-mint-4: #8ce6dd;
  --global-light-mint-5: #40d6c6;
  --global-light-mint-6: #00c8b3;
  --global-light-mint-7: #00aa98;
  --global-light-mint-8: #008274;
  --global-light-mint-9: #005a51;
  --global-light-orange-10: #40230a;
  --global-light-orange-11: #261506;
  --global-light-orange-1: #fff9f4;
  --global-light-orange-2: #ffeedf;
  --global-light-orange-3: #ffddbf;
  --global-light-orange-4: #ffcc9e;
  --global-light-orange-5: #ffaa5e;
  --global-light-orange-6: #ff8d28;
  --global-light-orange-7: #d97822;
  --global-light-orange-8: #a65c1a;
  --global-light-orange-9: #733f12;
  --global-light-pink-10: #400b15;
  --global-light-pink-11: #26070d;
  --global-light-pink-1: #fff4f7;
  --global-light-pink-2: #ffdfe6;
  --global-light-pink-3: #ffc0cc;
  --global-light-pink-4: #ffa0b3;
  --global-light-pink-5: #ff6180;
  --global-light-pink-6: #ff2c55;
  --global-light-pink-7: #d92548;
  --global-light-pink-8: #a61d37;
  --global-light-pink-9: #731426;
  --global-light-purple-10: #330c38;
  --global-light-purple-11: #1e0722;
  --global-light-purple-1: #fcf5fd;
  --global-light-purple-2: #f7e0fa;
  --global-light-purple-3: #efc1f6;
  --global-light-purple-4: #e8a2f1;
  --global-light-purple-5: #d864e8;
  --global-light-purple-6: #cb30e0;
  --global-light-purple-7: #ad29be;
  --global-light-purple-8: #841f92;
  --global-light-purple-9: #5b1665;
  --global-light-red-10: #400f10;
  --global-light-red-11: #260909;
  --global-light-red-1: #fff5f5;
  --global-light-red-2: #ffe2e2;
  --global-light-red-3: #ffc4c5;
  --global-light-red-4: #ffa7a8;
  --global-light-red-5: #fe6c6e;
  --global-light-red-6: #fe3b3e;
  --global-light-red-7: #d83235;
  --global-light-red-8: #a52628;
  --global-light-red-9: #721b1c;
  --global-light-teal-10: #013134;
  --global-light-teal-11: #001d1f;
  --global-light-teal-1: #f2fcfd;
  --global-light-teal-2: #d9f6f8;
  --global-light-teal-3: #b3edf1;
  --global-light-teal-4: #8ee4ea;
  --global-light-teal-5: #42d2dd;
  --global-light-teal-6: #03c3d1;
  --global-light-teal-7: #03a6b2;
  --global-light-teal-8: #027f88;
  --global-light-teal-9: #01585e;
  --global-light-yellow-10: #3c3002;
  --global-light-yellow-11: #241d01;
  --global-light-yellow-1: #fefcf3;
  --global-light-yellow-2: #fdf6da;
  --global-light-yellow-3: #fbecb5;
  --global-light-yellow-4: #f8e390;
  --global-light-yellow-5: #f4d146;
  --global-light-yellow-6: #f0c108;
  --global-light-yellow-7: #cca407;
  --global-light-yellow-8: #9c7d05;
  --global-light-yellow-9: #6c5704;
  --global-neutral-10: #45484d;
  --global-neutral-11: #383a3e;
  --global-neutral-12: #2b2c2f;
  --global-neutral-13: #1c1d1e;
  --global-neutral-14: #050505;
  --global-neutral-1: #fcfcfd;
  --global-neutral-2: #f6f6f6;
  --global-neutral-3: #eff0f1;
  --global-neutral-4: #eaebec;
  --global-neutral-5: #dedfe2;
  --global-neutral-6: #d0d1d4;
  --global-neutral-7: #babcc0;
  --global-neutral-8: #8b8f96;
  --global-neutral-9: #5f636a;
}
