:root {
  --z-index-top-bar: 100;
  --z-index-editor-fixed-menu: 101;
  --z-index-controller-appearance-modal: 102;
  --z-index-controller-settings-modal: 102;
  --z-index-controller-sharing-modal: 102;
  --z-index-controller-version-modal: 102;
  --z-index-controller-style-change-modal: 102;
  --z-index-controller-modal: 102;
  --z-index-overlay-loading-indicator: 103;
  --z-index-overlay-error-message: 104;
  --z-index-controller-alert: 105;
  --z-index-menu: 106;
}
