/* These variables come directly from the figma design system, exported by the extension 'variable2css' */

:root {
  --corner-flat: 0rem;
  --corner-xsm: 0.125rem;
  --corner-sm: 0.25rem;
  --corner-md: 0.5rem;
  --corner-lg: 1rem;
  --corner-xlg: 2rem;
  --font-size--3: 0.6875rem;
  --font-size--2: 0.75rem;
  --font-size--1: 0.8125rem;
  --font-size-0: 0.9375rem;
  --font-size-1: 1.0625rem;
  --font-size-2: 1.1875rem;
  --font-size-3: 1.3125rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.6875rem;
  --font-size-6: 1.875rem;
  --font-size-7: 2.125rem;
  --font-size-8: 2.375rem;
  --font-size-9: 2.6875rem;
  --font-size-10: 3.0625rem;
  --font-size-11: 3.4375rem;
  --font-size-12: 3.875rem;
  --font-size-13: 4.3125rem;
  --font-size-14: 4.875rem;
  --gap-flat: 0rem;
  --gap-xsm: 0.125rem;
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 0.75rem;
  --gap-xlg: 1.5rem;
  --gap-xxlg: 2rem;
  --gap-xxxlg: 3rem;
  --stroke-sm: 0.0625rem;
  --stroke-md: 0.0938rem;
}
