:root {
  --z-index-top-bar: 50;
  --z-index-editor-fixed-menu: 51;
  --z-index-controller-settings-modal: 100;
  --z-index-controller-modal: 200;
  --z-index-overlay-loading-indicator: 300;
  --z-index-overlay-error-message: 400;
  --z-index-controller-alert: 500;
  --z-index-menu: 600;
}
