:root {
  --shadow-alert: 0 3px 12px 0 rgba(0, 0, 0, 0.09);
}

:root {
  --common-focus-neutral: var(--global-neutral-14);
  --component-alert-bg: var(--base-white);
  --component-alert-border: var(--global-neutral-5);
  --component-alert-text--content: var(--global-neutral-10);
  --component-alert-text--title: var(--global-neutral-13);
  --component-authentication-form-bg-divider: var(--global-neutral-5);
  --component-authentication-form-text--link: var(--global-neutral-13);
  --component-authentication-form-text--subtitle: var(--global-neutral-9);
  --component-authentication-form-text--title: var(--global-neutral-13);
  --component-authentication-header-logo: var(--global-neutral-12);
  --component-button-action-bg---hover: var(--global-neutral-2);
  --component-button-action-icon---hover: var(--global-neutral-13);
  --component-button-action-icon: var(--global-neutral-10);
  --component-button-authentication-bg---active: var(--global-neutral-14);
  --component-button-authentication-bg---disable: var(--global-neutral-5);
  --component-button-authentication-bg---hover: var(--global-neutral-12);
  --component-button-authentication-bg---loading: var(--global-neutral-11);
  --component-button-authentication-bg: var(--global-neutral-13);
  --component-button-authentication-text---disable: var(--global-neutral-8);
  --component-button-authentication-text: var(--base-white);
  --component-button-close-icon---hover: var(--global-neutral-13);
  --component-button-close-icon: var(--global-neutral-8);
  --component-error-message-text--description: var(--global-neutral-10);
  --component-error-message-text--title: var(--global-neutral-13);
  --component-input-bg--disable: var(--global-neutral-5);
  --component-input-bg: var(--base-white);
  --component-input-border---active: var(--global-light-blue-4);
  --component-input-border: var(--global-neutral-5);
  --component-input-button-icon---hover: var(--global-neutral-13);
  --component-input-button-icon: var(--global-neutral-8);
  --component-input-shadow---active: var(--global-light-blue-3);
  --component-input-text---disable: var(--global-neutral-8);
  --component-input-text---placeholder: var(--global-neutral-8);
  --component-input-text: var(--global-neutral-13);
  --component-item-create-input-bg: var(--global-neutral-3);
  --component-item-create-input-button-bg---hover: var(--global-neutral-12);
  --component-item-create-input-button-bg---loading: var(--global-neutral-11);
  --component-item-create-input-button-bg: var(--global-neutral-13);
  --component-item-create-input-button-icon: var(--base-white);
  --component-item-create-input-text---placeholder: var(--global-neutral-8);
  --component-item-create-input-text: var(--global-neutral-13);
  --component-loading-indicator-text: var(--global-neutral-13);
  --component-menu-item-bg---active: var(--global-neutral-3);
  --component-menu-item-bg---hover: var(--global-neutral-2);
  --component-menu-item-bg: var(--base-white);
  --component-menu-item-border: var(--global-neutral-5);
  --component-menu-item-text: var(--global-neutral-13);
  --component-overview-title-text: var(--global-neutral-13);
  --component-status-text-text--error: var(--global-light-red-6);
  --component-status-text-text--success: var(--global-light-green-7);
  --component-top-bar-badge-bg--blue: var(--global-light-blue-5);
  --component-top-bar-badge-bg--yellow: var(--global-light-yellow-5);
  --component-top-bar-badge-text--invert: var(--global-neutral-13);
  --component-top-bar-badge-text: var(--base-white);
  --component-top-bar-logo: var(--global-neutral-13);
  --layout-bg--authentication: var(--base-white);
  --layout-bg--dashboard: var(--base-white);
}
