:root {
  --shadow-alert: 0 3px 12px 0 rgba(0, 0, 0, 0.09);
  --shadow-menu: 0 4px 12px 0 rgba(12, 12, 13, 0.1);
  --shadow-modal:
    0 4px 16px 0 rgba(12, 12, 13, 0.05), 0 8px 32px 0 rgba(12, 12, 13, 0.05);
}

:root {
  --common-focus-neutral: var(--global-neutral-14);
  --component-alert-bg: var(--base-white);
  --component-alert-border: var(--global-neutral-5);
  --component-alert-text--content: var(--global-neutral-10);
  --component-alert-text--title: var(--global-neutral-13);
  --component-authentication-form-bg-divider: var(--global-neutral-5);
  --component-authentication-form-text--link: var(--global-neutral-13);
  --component-authentication-form-text--subtitle: var(--global-neutral-9);
  --component-authentication-form-text--title: var(--global-neutral-13);
  --component-authentication-header-logo: var(--global-neutral-12);
  --component-button-action-bg---hover: var(--global-neutral-2);
  --component-button-action-icon: var(--global-neutral-10);
  --component-button-action-icon---hover: var(--global-neutral-13);
  --component-button-authentication-bg: var(--global-neutral-13);
  --component-button-authentication-bg---active: var(--global-neutral-14);
  --component-button-authentication-bg---disable: var(--global-neutral-5);
  --component-button-authentication-bg---hover: var(--global-neutral-12);
  --component-button-authentication-bg---loading: var(--global-neutral-11);
  --component-button-authentication-text: var(--base-white);
  --component-button-authentication-text---disable: var(--global-neutral-8);
  --component-button-close-icon: var(--global-neutral-8);
  --component-button-close-icon---hover: var(--global-neutral-13);
  --component-button-danger-bg: var(--global-light-red-6);
  --component-button-danger-bg---active: var(--global-light-red-7);
  --component-button-danger-bg---disable: var(--global-neutral-5);
  --component-button-danger-bg---hover: var(--global-light-red-5);
  --component-button-danger-bg---loading: var(--global-light-red-4);
  --component-button-danger-text: var(--base-white);
  --component-button-danger-text---disable: var(--global-neutral-8);
  --component-button-neutral-bg: var(--global-neutral-1);
  --component-button-neutral-bg---active: var(--global-neutral-3);
  --component-button-neutral-bg---disable: var(--global-neutral-5);
  --component-button-neutral-bg---hover: var(--global-neutral-2);
  --component-button-neutral-bg---loading: var(--global-neutral-2);
  --component-button-neutral-border: var(--global-neutral-5);
  --component-button-neutral-text: var(--global-neutral-13);
  --component-button-neutral-text---disable: var(--global-neutral-8);
  --component-button-primary-bg: var(--global-light-blue-6);
  --component-button-primary-bg---active: var(--global-light-blue-7);
  --component-button-primary-bg---disable: var(--global-neutral-5);
  --component-button-primary-bg---hover: var(--global-light-blue-5);
  --component-button-primary-bg---loading: var(--global-light-blue-4);
  --component-button-primary-text: var(--base-white);
  --component-button-primary-text---disable: var(--global-neutral-8);
  --component-editor-menu-bg: var(--base-white);
  --component-editor-menu-border: var(--global-neutral-5);
  --component-editor-menu-text: var(--global-neutral-10);
  --component-editor-menu-item-bg: var(--base-white);
  --component-editor-menu-item-bg---active: var(--global-neutral-3);
  --component-editor-menu-item-bg---hover: var(--global-neutral-2);
  --component-editor-menu-item-bg---selected: var(--global-neutral-3);
  --component-editor-menu-item-bg--key: var(--global-neutral-2);
  --component-editor-menu-item-icon: var(--global-neutral-10);
  --component-editor-menu-item-icon---hover: var(--global-neutral-12);
  --component-editor-menu-item-text: var(--global-neutral-12);
  --component-editor-menu-item-text--key: var(--global-neutral-8);
  --component-editor-menu-item-text--placeholder: var(--global-neutral-9);
  --component-error-message-text--description: var(--global-neutral-10);
  --component-error-message-text--title: var(--global-neutral-13);
  --component-input-bg: var(--base-white);
  --component-input-bg--disable: var(--global-neutral-5);
  --component-input-border: var(--global-neutral-5);
  --component-input-border---active: var(--global-light-blue-4);
  --component-input-shadow---active: var(--global-light-blue-3);
  --component-input-text: var(--global-neutral-13);
  --component-input-text---disable: var(--global-neutral-8);
  --component-input-text---placeholder: var(--global-neutral-8);
  --component-input-button-icon: var(--global-neutral-8);
  --component-input-button-icon---hover: var(--global-neutral-13);
  --component-item-create-input-bg: var(--global-neutral-3);
  --component-item-create-input-text: var(--global-neutral-13);
  --component-item-create-input-text---placeholder: var(--global-neutral-8);
  --component-item-create-input-button-bg: var(--global-neutral-13);
  --component-item-create-input-button-bg---hover: var(--global-neutral-12);
  --component-item-create-input-button-bg---loading: var(--global-neutral-11);
  --component-item-create-input-button-icon: var(--base-white);
  --component-item-list-document-bg: var(--base-white);
  --component-item-list-document-bg---hover: var(--global-neutral-2);
  --component-item-list-document-border: var(--global-neutral-5);
  --component-item-list-document-text: var(--global-neutral-10);
  --component-item-list-document-text---hover: var(--global-neutral-13);
  --component-loading-indicator-text: var(--global-neutral-13);
  --component-menu-item-bg: var(--base-white);
  --component-menu-item-bg---active: var(--global-neutral-3);
  --component-menu-item-bg---hover: var(--global-neutral-2);
  --component-menu-item-border: var(--global-neutral-5);
  --component-menu-item-text: var(--global-neutral-13);
  --component-modal-bg: var(--base-white);
  --component-modal-bg--controller: var(--base-white);
  --component-modal-border: var(--global-neutral-5);
  --component-modal-text--content: var(--global-neutral-11);
  --component-modal-text--title: var(--global-neutral-13);
  --component-overview-title-text: var(--global-neutral-13);
  --component-settings-modal-bg: var(--base-white);
  --component-settings-modal-border: var(--global-neutral-5);
  --component-settings-modal-text--item-description: var(--global-neutral-10);
  --component-settings-modal-text--item-title: var(--global-neutral-12);
  --component-settings-modal-text--title: var(--global-neutral-13);
  --component-settings-modal-item-bg: var(--base-white);
  --component-settings-modal-item-bg---hover: var(--global-neutral-2);
  --component-settings-modal-item-bg---selected: var(--global-neutral-2);
  --component-settings-modal-item-text: var(--global-neutral-13);
  --component-status-text-text--error: var(--global-light-red-6);
  --component-status-text-text--success: var(--global-light-green-7);
  --component-top-bar-border: var(--global-neutral-5);
  --component-top-bar-logo: var(--global-neutral-13);
  --component-top-bar-badge-bg--blue: var(--global-light-blue-5);
  --component-top-bar-badge-bg--yellow: var(--global-light-yellow-5);
  --component-top-bar-badge-text: var(--base-white);
  --component-top-bar-badge-text--invert: var(--global-neutral-13);
  --layout-bg--authentication: var(--base-white);
  --layout-bg--dashboard: var(--base-white);
}
