.action-button__icon {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-beta);
      transition: fill 0.125s ease-in-out;
    }
  }
}

.action-button {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: transparent;
  border-radius: 32px;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  outline: none;
  transition: background 0.125s ease-in-out;
  width: 32px;

  &:hover {
    background: var(--color--bg-neutral-300);
    cursor: pointer;

    .action-button__icon {
      svg path {
        fill: var(--color--text-alpha);
      }
    }
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px dashed var(--color--border-invert);
  }
}
