.alert {
  align-items: flex-start;
  animation: alertSlideIn 0.3s ease forwards;
  background: var(--color--bg-neutral-000);
  border-radius: 12px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-alert);
  display: flex;
  gap: 8px;
  padding: 12px;
  position: relative;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  width: 448px;
}

.alert--closing {
  animation: alertSlideOut 0.3s ease forwards;
}

@keyframes alertSlideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes alertSlideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.alert__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 8px;
}

.alert__title {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-alpha);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  justify-content: space-between;
  line-height: 20px;
  padding: 8px;
  width: 100%;
}

.alert__description {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-beta);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  line-height: 20px;
  padding: 8px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .alert {
    width: 100%;
  }
}
