.alert {
  align-items: flex-start;
  box-shadow: var(--shadow-alert);
  display: flex;
  padding: var(--gap-lg);
  width: 384px;
}

.alert__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: var(--gap-lg);
}

.alert__title {
  align-items: center;
  align-self: stretch;
  color: var(--component-alert-text--title);
  display: flex;
  flex: 1 0 0;
  font-size: var(--font-size--1);
  font-style: normal;
  font-weight: 600;
  gap: var(--gap-sm);
  line-height: 20px;
  padding: var(--gap-sm);
}

.alert__description {
  align-items: center;
  align-self: stretch;
  color: var(--component-alert-text--description);
  display: flex;
  flex: 1 0 0;
  font-size: var(--font-size--1);
  font-style: normal;
  font-weight: 400;
  gap: var(--gap-sm);
  justify-content: center;
  line-height: 24px;
  padding: var(--gap-sm);
}

.alert__close-button {
  align-items: center;
  background: none;
  border: none;
  box-shadow: none;
  display: inline-flex;
  outline: none;

  svg {
    aspect-ratio: 1 / 1;
    height: 14px;
    width: 14px;

    path {
      fill: var(--component-alert-icon--close);
    }
  }

  :hover {
    cursor: var(--cursor);

    svg {
      path {
        fill: var(--component-alert-icon--close---hover);
      }
    }
  }
}
