.animated-icon--18 {
  svg {
    aspect-ratio: 1 / 1;
    height: 18px;
    width: 18px;
  }
}

.animated-icon--26 {
  svg {
    aspect-ratio: 1 / 1;
    height: 26px;
    width: 26px;
  }
}

.animated-icon__circle-spinner {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    animation: animated-icon-circle-spinner-rotate 1s linear infinite;
  }
}

@keyframes animated-icon-circle-spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
