.animated-icon-circle-spinner {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    animation: animated-icon-circle-spinner-rotate 1s linear infinite;
  }
}

@keyframes animated-icon-circle-spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
