.appearance-modal {
  align-items: center;
  animation: modalFadeIn 0.2s;
  background: var(--color--bg-neutral-100);
  border: 1px solid var(--color--border-weak);
  border-radius: 12px;
  box-shadow: var(--shadow-modal);
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 100%;
  justify-content: center;
  max-height: 400px;
  max-width: 600px;
  width: 100%;
}

.appearance-modal__header {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--color--border-weak);
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: space-between;
  padding: 12px;
}

.appearance-modal__logo {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    aspect-ratio: 1 / 1;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-alpha);
    }
  }
}

.appearance-modal__title {
  color: var(--color--text-alpha);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.appearance-modal__content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1 0 0;
  height: 100%;
  overflow: hidden;
}

.appearance-modal__panel {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 12px;
  overflow: hidden;
  padding: 12px;
}

.appearance-modal__panel-title {
  color: var(--color--text-beta);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-inline: 4px;
  text-transform: uppercase;
  user-select: none;
}

.appearance-modal__panel-buttons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.appearance-modal__panel-divider {
  background: var(--color--border-weak);
  display: flex;
  height: 100%;
  width: 1px;
}

.appearance-button {
  align-items: center;
  background: var(--color--bg-neutral-100);
  border: 1px solid var(--color--border-weak);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  padding: 10px 12px;
  width: 100%;

  &:hover {
    background: var(--color--bg-neutral-200);
  }

  &:focus-visible {
    outline-offset: -1px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.appearance-button__text {
  color: var(--color--text-beta);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}

.appearance-button--selected {
  background: var(--color--bg-neutral-200);
  border-color: var(--color--bg-neutral-200);
  pointer-events: none;

  &:focus-visible {
    outline: none;
  }
}

@media screen and (max-width: 576px) {
  .appearance-modal {
    max-height: 100%;
    max-width: 100%;
  }

  .appearance-modal__content {
    flex-direction: column;
  }

  .appearance-modal__panel-divider {
    height: 1px;
    width: 100%;
  }
}
