.authentication-form {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 48px;
  width: 480px;
}

.authentication-form__container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 24px;
}

.authentication-form__header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 12px;
  justify-content: center;
}

.authentication-form__content {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  flex: 1 0 0;
}

.authentication-form__footer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 12px;
  justify-content: center;
}

.authentication-form__title {
  align-items: center;
  align-self: stretch;
  color: var(--component-authentication-form-text--title);
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: normal;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.authentication-form__subtitle {
  align-items: center;
  align-self: stretch;
  color: var(--component-authentication-form-text--subtitle);
  display: flex;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.authentication-form__legal-note {
  color: var(--component-authentication-form-text--link);
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: normal;
  padding: 4px;
  text-align: left;
  width: 100%;

  a {
    color: var(--component-authentication-form-text--link);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px dashed var(--common-focus-neutral);
    }
  }
}

.authentication-form__links {
  align-items: center;
  align-self: space-between;
  display: flex;
  gap: 8px;
  width: 100%;
}

.authentication-form__link {
  align-items: center;
  color: var(--component-authentication-form-text--link);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  a {
    color: var(--component-authentication-form-text--link);
    font-size: inherit;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px dashed var(--common-focus-neutral);
    }
  }
}

.authentication-form__link--left {
  text-align: left;
  width: 50%;
}

.authentication-form__link--middle {
  text-align: center;
  width: 100%;
}

.authentication-form__link--right {
  text-align: right;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .authentication-form {
    padding-inline: 24px;
  }
}
