.authentication-button {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scale: 1;
  transition: scale 0.05s ease-in-out;
  user-select: none;
  width: 100%;

  &:active {
    scale: 0.97;
  }
}

.authentication-button__status-text {
  display: flex;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(8px);
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    transform 0.3s ease;
  width: 100%;
}

.authentication-button__status-text.show {
  max-height: 100px;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.authentication-button__status-text.hide {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(8px);
  transition:
    max-height 0.3s ease 0.1s,
    opacity 0.2s ease,
    transform 0.3s ease;
}

.authentication-button__icon {
  aspect-ratio: 1 / 1;
  height: 18px;
  width: 18px;

  svg path {
    fill: var(--color--text-invert);
  }
}

.authentication-button__icon.show {
  display: flex;
}

.authentication-button__icon.hide {
  display: none;
}

.authentication-button__text {
  color: var(--color--text-invert);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.authentication-button__button {
  align-items: center;
  align-self: stretch;
  background: var(--color--bg-dark-500);
  border-radius: 32px;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0 24px;

  &:hover {
    background: var(--color--bg-dark-400);
    cursor: pointer;
  }

  &:active {
    background: var(--color--bg-dark-600);
  }

  &:focus-visible {
    border-radius: 32px;
    outline-offset: 2px;
    outline: 2px dashed var(--color--border-invert);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.authentication-button__button--loading {
  background: var(--color--bg-dark-200);
  cursor: wait;

  &:hover,
  &:active,
  &:disabled {
    background: var(--color--bg-dark-200);
    cursor: wait;
    pointer-events: none;

    .authentication-button__text {
      color: var(--color--text-invert);
    }

    .authentication-button__icon {
      svg path {
        fill: var(--color--text-invert);
      }
    }
  }
}
