.authentication-form {
  align-items: center;
  display: flex;
  padding: var(--gap-xxxlg);
  width: 544px;
}

.authentication-form__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: var(--gap-xxxlg);
}

.authentication-form__header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.authentication-form_content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xlg);
}

.authentication-form__title {
  align-items: center;
  align-self: stretch;
  color: var(--component-authentication-form-text--title);
  display: flex;
  flex: 1 0 0;
  font-size: var(--font-size-4);
  font-style: normal;
  font-weight: 600;
  gap: var(--gap-md);
  justify-content: center;
  line-height: normal;
  padding: var(--gap-md);
  text-align: center;
}

.authentication-form__subtitle {
  align-items: center;
  align-self: stretch;
  color: var(--component-authentication-form-text--subtitle);
  display: flex;
  flex: 1 0 0;
  font-size: var(--font-size-1);
  font-style: normal;
  font-weight: 400;
  gap: var(--gap-md);
  justify-content: center;
  line-height: 24px;
  padding: var(--gap-md);
  text-align: center;
}

.authentication-form__inputs {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.authentication-form__legal-note {
  align-items: center;
  align-self: stretch;
  color: var(--component-authentication-form-link);
  display: flex;
  font-size: var(--font-size--2);
  font-style: normal;
  font-weight: 400;
  gap: var(--gap-sm);
  height: 24px;
  line-height: normal;
  padding: var(--gap-sm);

  a {
    color: var(--component-authentication-form-link);
    font-size: var(--font-size--2);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover {
      cursor: var(--cursor);
      text-decoration: underline;
    }
  }
}

.authentication-form__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.authentication-form__link {
  align-items: center;
  color: var(--component-authentication-form-link);
  display: flex;
  font-size: var(--font-size--2);
  font-style: normal;
  font-weight: 400;
  gap: var(--gap-sm);
  justify-content: center;
  line-height: normal;
  padding: var(--gap-sm);
  width: 100%;

  a {
    color: var(--component-authentication-form-link);
    font-size: var(--font-size--2);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover {
      cursor: var(--cursor);
      text-decoration: underline;
    }
  }
}

.authentication-form__link--left {
  justify-content: start;
}

.authentication-form__link--middle {
  justify-content: center;
}

.authentication-form__link--right {
  justify-content: end;
}
