.authentication-button {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 100%;
}

.authentication-button__status-text {
  display: flex;
  width: 100%;
}

.authentication-button__status-text.show {
  display: flex;
}

.authentication-button__status-text.hide {
  display: none;
}

.authentication-button__icon {
  display: flex;

  svg {
    height: 18px;
    width: 18px;

    path {
      fill: var(--component-button-authentication-text);
    }
  }
}

.authentication-button__icon.show {
  display: flex;
}

.authentication-button__icon.hide {
  display: none;
}

.authentication-button__text {
  color: var(--component-button-authentication-text);
  font-size: var(--font-size-0);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.authentication-button__button {
  align-items: center;
  background: var(--component-button-authentication-background);
  border-radius: var(--corner-xlg);
  display: inline-flex;
  gap: var(--gap-lg);
  height: 48px;
  justify-content: center;
  padding: var(--gap-flat) var(--gap-xlg);
  width: 100%;

  &:hover {
    background: var(--component-button-authentication-background---hover);
  }

  &:active {
    background: var(--component-button-authentication-background---active);
  }

  &:disabled {
    background: var(--component-button-authentication-background---disable);
    cursor: not-allowed;

    .authentication-button__icon {
      span {
        path {
          fill: var(--component-button-authentication-text---disabled);
        }
      }
    }

    .authentication-button__text {
      color: var(--component-button-authentication-text---disabled);
    }
  }
}

.authentication-button__button--loading {
  background: var(--component-button-authentication-background---loading);

  &:disabled {
    background: var(--component-button-authentication-background---loading);

    .authentication-button__icon {
      span {
        path {
          fill: var(--component-button-authentication-text);
        }
      }
    }

    .authentication-button__text {
      color: var(--component-button-authentication-text);
    }
  }
}
