.authentication-form {
  align-items: center;
  animation: authenticationFormFadeIn 0.4s ease;
  display: flex;
  gap: 8px;
  padding: 48px;
  width: 480px;
}

@keyframes authenticationFormFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.authentication-form__container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 24px;
}

.authentication-form__header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 12px;
  justify-content: center;
}

.authentication-form__content {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  flex: 1 0 0;
}

.authentication-form__footer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 12px;
  justify-content: center;
}

.authentication-form__title {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-alpha);
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: normal;
  padding: 8px;
  text-align: center;
  user-select: none;
  width: 100%;
}

.authentication-form__subtitle {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-beta);
  display: flex;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  user-select: none;
  width: 100%;
}

.authentication-form__legal-note {
  color: var(--color--text-beta);
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: normal;
  padding: 4px;
  text-align: left;
  user-select: none;
  width: 100%;

  a {
    color: var(--color--text-beta);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    position: relative;

    &::after {
      background-color: currentColor;
      bottom: -4px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      width: 100%;
    }

    &:hover {
      cursor: pointer;

      &::after {
        transform: scaleX(1);
      }
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px dashed var(--common-focus-neutral);
    }
  }
}

.authentication-form__links {
  align-items: center;
  align-self: space-between;
  display: flex;
  gap: 8px;
  width: 100%;
}

.authentication-form__link {
  align-items: center;
  color: var(--color--text-beta);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;

  a {
    color: var(--color--text-beta);
    font-size: inherit;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    position: relative;

    &::after {
      background-color: currentColor;
      bottom: -4px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      width: 100%;
    }

    &:hover {
      cursor: pointer;

      &::after {
        transform: scaleX(1);
      }
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: 1px dashed var(--color--border-invert);
    }
  }
}

.authentication-form__link--left {
  text-align: left;
  width: 50%;
}

.authentication-form__link--middle {
  text-align: center;
  width: 100%;
}

.authentication-form__link--right {
  text-align: right;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .authentication-form {
    padding-inline: 24px;
  }
}
