.button {
  align-items: center;
  border-radius: 32px;
  border: none;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  outline: none;
  transition: background 0.125s ease;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.button__icon {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    aspect-ratio: 1 / 1;
    height: 18px;
    width: 18px;
  }
}

.button__text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.button--loading {
  cursor: wait;
  pointer-events: none;
}

.button--primary {
  background: var(--color--bg-primary-600);

  .button__loading-icon,
  .button__icon {
    svg path {
      fill: var(--color--text-invert);
    }
  }

  .button__text {
    color: var(--color--text-invert);
  }

  &:hover {
    background: var(--color--bg-primary-500);
  }

  &:active {
    background: var(--color--bg-primary-700);
  }

  .button--loading {
    background: var(--color--bg-primary-400);

    &:hover,
    &:active,
    &:focus {
      background: var(--color--bg-primary-400);
    }
  }
}

.button--danger {
  background: var(--color--bg-danger-600);

  .button__loading-icon,
  .button__icon {
    svg path {
      fill: var(--color--text-invert);
    }
  }

  .button__text {
    color: var(--color--text-invert);
  }

  &:hover {
    background: var(--color--bg-danger-500);
  }

  &:active {
    background: var(--color--bg-danger-700);
  }

  .button--loading {
    background: var(--color--bg-danger-400);

    &:hover,
    &:active,
    &:focus {
      background: var(--color--bg-danger-400);
    }
  }
}

.button--neutral {
  background: var(--color--bg-neutral-000);
  border: 1px solid var(--color--border-weak);

  .button__loading-icon,
  .button__icon {
    svg path {
      fill: var(--color--text-beta);
    }
  }

  .button__text {
    color: var(--color--text-beta);
  }

  &:hover {
    background: var(--color--bg-neutral-200);
  }

  &:active {
    background: var(--color--bg-neutral-300);
  }

  .button--loading {
    background: var(--color--bg-neutral-400);

    &:hover,
    &:active,
    &:focus {
      background: var(--color--bg-neutral-400);
    }
  }
}

.button--medium {
  gap: 8px;
  height: 40px;
  padding: 0 24px;
}

.button--small {
  gap: 8px;
  height: 32px;
  padding: 0 12px;
}

.button__icon.show,
.button__loading-icon.show {
  display: flex;
}

.button__icon.hide,
.button__loading-icon.hide {
  display: none;
}

.button--full-width {
  width: 100%;
}
