.close-button {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  outline: none;
  width: 32px;

  svg {
    align-items: center;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-shrink: 0;
    height: 18px;
    justify-content: center;
    width: 18px;

    path {
      fill: var(--color--text-beta);
      transition: fill 0.125s ease-in-out;
    }
  }

  &:hover {
    cursor: pointer;

    svg path {
      fill: var(--color--text-alpha);
    }
  }

  &:focus-visible {
    outline: 1px dashed var(--color--border-invert);
  }
}
