.editor-block-menu-item {
  align-items: center;
  background: var(--color--bg-neutral-100);
  border-radius: 8px;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 8px;
  width: 100%;

  &:hover {
    background: var(--color--bg-neutral-200);
    cursor: pointer;
  }

  &:active {
    background: var(--color--bg-neutral-300);
  }

  &:focus-visible {
    outline-offset: -1px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.editor-block-menu-item--selected {
  background: var(--color--bg-neutral-200);
}

.editor-block-menu-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;

    path {
      fill: var(--color--text-alpha);
    }
  }
}

.editor-block-menu-item__text {
  color: var(--color--text-alpha);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  justify-content: flex-start;
  line-height: normal;
}

.editor-block-menu-item__key {
  align-items: center;
  background: var(--color--bg-neutral-300);
  border-radius: 4px;
  border: 1px solid var(--color--border-weak);
  display: flex;
  gap: 8px;
  height: 20px;
  padding: 8px;

  & {
    color: var(--color--text-gamma);
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-variant: all-small-caps;
    font-weight: 600;
    line-height: normal;
  }
}
