.editor-ai-menu-manual-edit {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
  justify-content: flex-start;
  width: 100%;
}

.editor-ai-menu-manual-edit__text-area-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.editor-ai-menu-manual-edit__text-area-container {
  background: var(--color--bg-neutral-000);
  border-radius: 8px;
  border: 1px solid var(--color--border-weak);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;
  width: 100%;

  &:hover {
    cursor: text;
  }

  &.active {
    background: var(--color--bg-neutral-000);
    border: 1px solid var(--color--border-primary);
    box-shadow: 0 0 8px 0 var(--color--border-primary);
  }
}

.editor-ai-menu-manual-edit__text-area {
  align-items: center;
  align-self: stretch;
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--color--text-alpha);
  display: flex;
  flex: 1 0 0;
  font-family: "JetBrains Mono Variable", monospace;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 92px;
  outline: none;
  resize: none;
  width: 100%;

  &::placeholder,
  &::-ms-input-placeholder {
    color: var(--color--text-gamma);
  }

  &:hover {
    cursor: text;
  }
}

.editor-ai-menu-manual-edit__status-text {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  width: 100%;
}

.editor-ai-menu-manual-edit__status-text.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.editor-ai-menu-manual-edit__status-text.hide {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease;
}

.editor-ai-menu-manual-edit__actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 32px;
  justify-content: space-between;
  width: 100%;
}

.editor-ai-menu-manual-edit__style-selection {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 32px;
  justify-content: flex-start;
  width: 100%;
}

.editor-ai-menu-manual-edit__style-name {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-alpha);
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  justify-content: flex-start;
  line-height: 24px;
  padding-block: 8px;
  padding-inline-end: 8px;
  user-select: none;
}

.editor-ai-menu-manual-edit__style-list {
  background: var(--color--bg-neutral-100)
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%235f636a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");

  align-items: center;
  appearance: none;
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--color--border-weak);
  color: var(--color--text-alpha);
  display: flex;
  font-size: 13px;
  font-weight: 400;
  height: 32px;
  min-width: 128px;
  outline: none;
  padding: 0 32px 0 12px;
  transition: border 0.2s ease;

  &:focus {
    border: 1px solid var(--color--border-primary);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--color--border-strong);
  }

  option {
    background: var(--color--bg-neutral-000);
    color: var(--color--text-alpha);
    padding: 8px;
  }
}

.editor-ai-menu-manual-edit__submit-button {
  align-items: center;
  background: var(--color--bg-primary-600);
  border-radius: 32px;
  border: none;
  box-shadow: none;
  display: flex;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  outline: none;
  transition: background 0.125s ease;
  width: 32px;

  svg {
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-invert);
    }
  }

  &:hover {
    cursor: pointer;
    background: var(--color--bg-primary-500);
  }

  &:active {
    background: var(--color--bg-primary-700);
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.editor-ai-menu-manual-edit__submit-button.generating {
  background: var(--color--bg-primary-300);
  cursor: not-allowed;
  pointer-events: none;

  &:hover {
    background: var(--color--bg-primary-300);
    cursor: not-allowed;
  }
}
