.editor-fixed-menu {
  align-items: center;
  background: var(--color--bg-neutral-100);
  box-shadow: var(--shadow-panel);
  display: flex;
  gap: 8px;
  height: 56px;
  justify-content: center;
  min-height: 56px;
  padding: 0 12px;
  position: relative;
  width: 100%;
  z-index: var(--z-index-editor-fixed-menu);
}

.editor-fixed-menu__divider {
  background: var(--color--border-weak);
  flex-shrink: 0;
  height: 24px;
  width: 1px;
}

@media screen and (min-width: 1024px) {
  .editor-fixed-menu {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .editor-fixed-menu {
    display: flex;
  }
}

@media screen and (max-width: 972px) {
  .editor-fixed-menu {
    -ms-overflow-style: none;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .settings-modal-container {
    padding: 24px;
  }

  .editor-fixed-menu::-webkit-scrollbar {
    display: none;
  }

  .editor-fixed-menu > * {
    flex-shrink: 0;
  }
}
