.editor-block-menu {
  align-items: flex-start;
  animation: editorBlockMenuFadeIn 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  background: var(--color--bg-neutral-100);
  border-radius: 12px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-popup);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 352px;
  padding: 8px;
  position: fixed;
  transform-origin: left center;
  width: 272px;
}

@keyframes editorBlockMenuFadeIn {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-8px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.editor-block-menu__header {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 2px 8px;
}

.editor-block-menu__filter-text {
  color: var(--color--text-gamma);
  flex: 1 0 0;
  font-size: 15px;
  font-style: normal;
  font-variant: all-small-caps;
  font-weight: 500;
  line-height: normal;
}

.editor-block-menu__items {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  width: 100%;
}

.editor-block-menu__divider {
  background: var(--color--border-weak);
  min-height: 1px;
  width: 100%;
}
