.editor {
  height: 100%;
  overflow: auto;
  padding-top: 96px;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.editor--fading-edges {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 64px,
    black calc(100% - 64px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 64px,
    black calc(100% - 64px),
    transparent 100%
  );
}

.editor-loading-indicator-container {
  align-items: flex-start;
  background: var(--color--bg-neutral-000);
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding-inline: 384px;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 1200px) {
  .editor-loading-indicator-container {
    padding-inline: 128px;
  }
}

@media screen and (max-width: 972px) {
  .editor-loading-indicator-container {
    padding-inline: 24px;
  }
}

.editor-loading-indicator {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  padding: 24px;
  width: 100%;
}

.editor-loading-indicator__large {
  align-items: center;
  align-self: stretch;
  animation: shimmer 1s ease infinite;
  background: linear-gradient(
    90deg,
    transparent 25%,
    transparent 37%,
    transparent 63%
  );
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 100%;

  &::after {
    animation: shimmer-after 1s ease-in-out infinite;
    background: linear-gradient(
      90deg,
      var(--color--bg-neutral-200) 0%,
      var(--color--bg-neutral-200) 50%,
      var(--color--bg-neutral-200) 100%
    );
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
  }
}

.editor-loading-indicator__small {
  align-items: center;
  align-self: stretch;
  animation: shimmer 1s ease infinite;
  background: linear-gradient(
    90deg,
    transparent 25%,
    transparent 37%,
    transparent 63%
  );
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 100%;

  &::after {
    animation: shimmer-after 1s ease-in-out infinite;
    background: linear-gradient(
      90deg,
      var(--color--bg-neutral-200) 0%,
      var(--color--bg-neutral-200) 50%,
      var(--color--bg-neutral-200) 100%
    );
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-100%);
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes shimmer-after {
  100% {
    transform: translateX(100%);
  }
}

.editor-error-message-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.editor-error-message {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;
}

.editor-error-message__title {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-beta);
  display: flex;
  flex: 1 0 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  line-height: 32px;
  padding: 8px;
  text-align: center;
}

.editor-error-message__description {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-gamma);
  display: flex;
  flex: 1 0 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 24px;
  padding: 8px;
  text-align: center;
}
