.editor-bubble-menu {
  align-items: center;
  animation: editorBubbleMenuFadeIn 300ms cubic-bezier(0.19, 1, 0.22, 1)
    forwards;
  background: var(--color--bg-neutral-100);
  border-radius: 32px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-popup);
  display: inline-flex;
  gap: 8px;
  height: 48px;
  padding: 0 8px;
  transform-origin: bottom center;
}

@keyframes editorBubbleMenuFadeIn {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-8px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.editor-bubble-menu__divider {
  background: var(--color--border-weak);
  height: 24px;
  width: 1px;
}
