.editor-block-menu {
  align-items: flex-start;
  background: var(--component-editor-menu-bg);
  border: 1px solid var(--component-editor-menu-border);
  box-shadow: var(--shadow-popup);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 352px;
  padding: 8px;
  position: fixed;
  width: 272px;
}

.editor-block-menu__header {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 2px 8px;
}

.editor-block-menu__filter-text {
  color: var(--component-editor-menu-text);
  flex: 1 0 0;
  font-size: 15px;
  font-style: normal;
  font-variant: all-small-caps;
  font-weight: 500;
  line-height: normal;
}

.editor-block-menu__items {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  width: 100%;
}

.editor-block-menu__divider {
  background: var(--component-editor-menu-border);
  min-height: 1px;
  width: 100%;
}
