.editor-node-loading-indicator {
  align-items: center;
  background: var(--component-editor-node-loading-indicator-bg);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 48px 24px;
  width: 100%;
}

.editor-node-loading-indicator__animated-svg {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    animation: rotate-editor-node-loading-indicator 1s linear infinite;
    aspect-ratio: 1 / 1;
    height: 64px;
    width: auto;

    path {
      fill: var(--component-editor-node-loading-indicator-text);
    }
  }
}

@keyframes rotate-editor-node-loading-indicator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.editor-node-loading-indicator__text {
  align-items: center;
  align-self: stretch;
  color: var(--component-editor-node-loading-indicator-text);
  display: flex;
  flex: 1 0 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 24px;
  padding: 8px;
  text-align: center;
}
