.editor-ai-menu-quicks {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  width: 100%;
}

.editor-ai-menu-quicks__quick {
  align-items: center;
  align-self: stretch;
  background: var(--color--bg-neutral-200);
  border-radius: 32px;
  border: 1px solid var(--color--border-weak);
  color: var(--color--text-alpha);
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  line-height: 24px;
  padding-inline: 12px;
  transition: background 0.125s ease;
  user-select: none;
  width: auto;

  &:hover {
    cursor: pointer;
    background: var(--color--bg-neutral-300);
  }

  &:active {
    background: var(--color--bg-neutral-400);
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.editor-ai-menu-quicks.show {
  display: flex;
}

.editor-ai-menu-quicks.hide {
  display: none;
}
