.editor-ai-menu {
  animation: editorBlockMenuFadeIn 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  background: var(--color--bg-neutral-100);
  border-radius: 12px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-popup);
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 32px;
  position: fixed;
  width: 1024px;
}

@media screen and (max-width: 1200px) {
  .editor-ai-menu {
    width: 90%;
  }
}

.editor-ai-menu__header {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--color--border-weak);
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  height: 48px;
  justify-content: space-between;
  padding: 12px;
}

.editor-ai-menu__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-inline-start: 8px;

  svg {
    aspect-ratio: 1 / 1;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-alpha);
    }
  }
}

.editor-ai-menu__title {
  color: var(--color--text-alpha);
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  user-select: none;
}

.editor-ai-menu__beta-tag {
  align-items: center;
  background: var(--color--bg-neutral-400);
  border-radius: 32px;
  border: none;
  box-shadow: none;
  color: var(--color--text-alpha);
  display: inline-flex;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  gap: 8px;
  height: 20px;
  justify-content: center;
  line-height: normal;
  outline: none;
  padding: 0 10px;
  text-align: center;
  user-select: none;
}

.editor-ai-menu__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
  padding: 12px;
  width: 100%;
}
