.image-block-options {
  align-items: center;
  animation: imageBlockOptionsFadeIn 300ms cubic-bezier(0.19, 1, 0.22, 1)
    forwards;
  background: var(--color--bg-neutral-100);
  border-radius: 32px;
  box-shadow: var(--shadow-modal);
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 40px;
  justify-content: center;
  padding-inline: 4px;
  right: 12px;
  top: 12px;
  width: auto;
}

@keyframes imageBlockOptionsFadeIn {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-8px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.image-block-options__button {
  align-items: center;
  background: var(--color--bg-neutral-100);
  border-radius: 32px;
  border: none;
  display: flex;
  height: 32px;
  justify-content: center;
  outline: none;
  transition: background 0.125s ease-in;
  width: 32px;

  svg {
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-alpha);
    }
  }

  &:hover {
    background: var(--color--bg-neutral-300);
    cursor: pointer;
  }

  &:active {
    background: var(--color--bg-neutral-300);
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.image-block-options__button--danger {
  svg {
    path {
      fill: var(--color--text-danger);
    }
  }
}
