.input-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
}

.input-wrapper__status-text {
  display: flex;
  width: 100%;
}

.input-wrapper__status-text.show {
  display: flex;
}

.input-wrapper__status-text.hide {
  display: none;
}

.input {
  align-items: center;
  align-self: stretch;
  background: var(--component-input-bg);
  border: 1px solid var(--component-input-border);
  display: flex;

  &:hover {
    cursor: text;
  }

  &.active {
    background: var(--component-input-bg);
    border: 1px solid var(--component-input-border---active);
    box-shadow: 0 0 8px 0 var(--component-input-shadow---active);
  }
}

.input__element {
  border: none;
  box-shadow: none;
  color: var(--component-input-text);
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.input__inline-button {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  outline: none;
  width: 24px;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 18px;
    width: 18px;

    path {
      fill: var(--component-input-button-icon);
    }
  }

  &:hover {
    cursor: pointer;

    svg path {
      fill: var(--component-input-button-icon---hover);
    }
  }

  &:focus-visible {
    outline: 1px dashed var(--common-focus-neutral);
    outline-offset: 0px;
  }
}

.input--medium {
  gap: 8px;
  height: 40px;
  padding: 0 8px 0 12px;
}

.input--small {
  gap: 8px;
  height: 32px;
  padding: 0 4px 0 8px;
}

.input-wrapper--full-width {
  width: 100%;
}
