.input-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: auto;
}

.input-wrapper__status-text {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  width: 100%;
}

.input-wrapper__status-text.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.input-wrapper__status-text.hide {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease;
}

.input {
  align-items: center;
  align-self: stretch;
  background: var(--color--bg-neutral-000);
  border-radius: 8px;
  border: 1px solid var(--color--border-weak);
  display: flex;
  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder,
  &::-ms-input-placeholder {
    color: var(--color--text-gamma);
  }

  &:hover {
    cursor: text;
  }

  &.active {
    background: var(--color--bg-neutral-000);
    border: 1px solid var(--color--border-primary);
    box-shadow: 0 0 8px 0 var(--color--border-primary);
  }
}

.input__element {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--color--text-alpha);
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.input__inline-button {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: center;
  outline: none;
  user-select: none;
  width: 24px;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-beta);
      transition: fill 0.2s ease;
    }
  }

  &:hover {
    cursor: pointer;

    svg path {
      fill: var(--color--text-alpha);
    }
  }

  &:focus-visible {
    outline: 1px dashed var(--color--border-invert);
    outline-offset: 0px;
  }
}

.input--medium {
  gap: 8px;
  height: 40px;
  padding: 0 8px 0 12px;
}

.input--small {
  gap: 8px;
  height: 32px;
  padding: 0 4px 0 8px;
}

.input-wrapper--full-width {
  width: 100%;
}
