.item-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  width: 100%;
}

.item-list__container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--component-item-list-document-border);
  border-bottom: none;
}
