.item-create-input {
  align-items: center;
  background: var(--color--bg-neutral-200);
  border-radius: 32px;
  border: 1px solid transparent;
  cursor: text;
  display: flex;
  gap: 12px;
  height: 56px;
  padding: 8px 24px 8px 24px;
  transition:
    background 0.3s ease,
    border 0.2s ease,
    box-shadow 0.2s ease,
    padding 0.3s ease;
  width: 100%;
}

.item-create-input.active:not(.disable) {
  background: var(--color--bg-neutral-000);
  border: 1px solid var(--color--border-primary);
  box-shadow: 0 0 8px 0 var(--color--border-primary);
}

.item-create-input.disable {
  background: var(--color--bg-neutral-000);
  box-shadow: 0 0 8px 0 var(--color--border-primary);
  pointer-events: none;
  user-select: none;
}

.item-create-input__input-element {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--color--text-alpha);
  flex: 1 0 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  transition: color 0.3s ease;
  width: 100%;

  &::placeholder,
  &::-ms-input-placeholder {
    color: var(--color--text-gamma);
    transition: color 0.3s ease;
  }
}

.item-create-input__input-element.disable {
  caret-color: transparent;
  cursor: default;
  pointer-events: none;
  user-select: none;
}

.item-create-input__create-button {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: var(--color--bg-dark-500);
  border-radius: 32px;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 8px;
  transition:
    background 0.2s ease,
    transform 0.2s ease;
  width: 40px;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 18px;
    transition: transform 0.2s ease;
    width: 18px;

    path {
      fill: var(--color--text-invert);
      transition: fill 0.2s ease;
    }
  }

  &:hover {
    background: var(--color--bg-dark-600);
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px dashed var(--color--text-alpha);
  }
}

.item-create-input__create-button.show {
  display: flex;
  animation: fadeInFromRight 0.3s ease forwards;
}

.item-create-input__create-button.hide {
  animation: fadeOutToRight 0.3s ease forwards;
  pointer-events: none;
}

.item-create-input__create-button.hide-immediately {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes fadeOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(20px) scale(0.8);
    visibility: hidden;
  }
}

.item-create-input:has(.item-create-input__create-button.show) {
  padding: 8px 8px 8px 24px;
}
