.loading-indicator-overlay {
  align-items: center;
  background: var(--layout-authentication);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loading-indicator {
  align-items: center;
  display: inline-flex;
  gap: var(--gap-lg);
  justify-content: center;
  padding: var(--gap-xlg);
}

.loading-indicator__spinner {
  display: flex;
}

.loading-indicator__text {
  color: var(--component-loading-indicator-text);
  font-size: var(--font-size-0);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
