.loading-indicator-overlay {
  align-items: center;
  background: var(--layout-bg--authentication);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--z-index-overlay-loading-indicator);
}

.loading-indicator-logo {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  left: 0;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;

  svg path {
    fill: var(--component-loading-indicator-text);
  }
}

.loading-indicator {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  padding: 24px;
}

.loading-indicator__spinner {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    path {
      fill: var(--component-loading-indicator-text);
    }
  }
}

.loading-indicator__text {
  color: var(--component-loading-indicator-text);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
