.menu-item__left-icon,
.menu-item__right-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 18px;
  min-width: 18px;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-alpha);
      transition: fill 0.125s ease-in-out;
    }
  }
}

.menu-item__text {
  align-items: flex-start;
  color: var(--color--text-alpha);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.125s ease-in-out;
}

.menu-item {
  align-items: center;
  background: var(--color--bg-neutral-000);
  border-radius: 8px;
  border: none;
  box-shadow: none;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 8px;
  transition: background 0.125s ease-in-out;
  width: 100%;

  &:hover {
    background: var(--color--bg-neutral-200);
    cursor: pointer;

    .menu-item__left-icon,
    .menu-item__right-icon {
      svg path {
        fill: var(--color--text-alpha);
      }
    }

    .menu-item__text {
      color: var(--color--text-alpha);
    }
  }

  &:active {
    background: var(--color--bg-neutral-300);
  }

  &:focus-visible {
    outline: 1px dashed var(--color--border-invert);
  }
}
