.menu {
  align-items: flex-start;
  animation: menuFadeIn 300ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
  background: var(--color--bg-neutral-000);
  border-radius: 8px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-menu);
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  padding: 8px;
  position: fixed;
  transform-origin: top left;
  transform: scale(0.96) translateY(-8px);
  z-index: var(--z-index-menu);
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
    transform: scale(0.96) translateY(-8px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.menu__container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu__section-title {
  align-items: center;
  color: var(--color--text-gamma);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-variant: all-small-caps;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  line-height: normal;
  min-height: 24px;
  padding-inline-end: 4px;
  width: 100%;
}

.menu__section-title::before {
  background: var(--color--border-weak);
  content: "";
  flex: 1;
  height: 1px;
  padding-top: 1px;
}

.menu__divider {
  background: var(--color--border-weak);
  height: 1px;
  width: 100%;
}

.menu--right-side {
  transform-origin: top right;
}
