.menu {
  align-items: flex-start;
  background: var(--component-menu-item-bg);
  border: 1px solid var(--component-menu-item-border);
  box-shadow: var(--shadow-menu);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  position: fixed;
}

.menu__container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu__section-title {
  align-items: center;
  color: var(--component-editor-menu-text);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-variant: all-small-caps;
  font-weight: 500;
  gap: 8px;
  justify-content: flex-start;
  line-height: normal;
  min-height: 32px;
  padding-inline: 8px;
  width: 100%;
}

.menu__divider {
  background: var(--component-menu-item-border);
  height: 1px;
  width: 100%;
}
