.modal {
  align-items: flex-start;
  background: var(--component-modal-bg);
  border: 1px solid var(--component-modal-border);
  box-shadow: var(--shadow-modal);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  position: fixed;
}

.modal__container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.modal__header {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding-left: 8px;
}

.modal__title {
  color: var(--component-modal-text--title);
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal__content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex;
  padding: 0 4px;
  width: 100%;
}

.modal__content-item {
  display: flex;
  width: 100%;
}

.modal__content-item--text {
  align-items: center;
  align-self: stretch;
  color: var(--component-modal-text--content);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: flex-start;
  line-height: 24px;
  padding: 2px;
}

.modal__content-item--buttons {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding-top: 12px;
}

.modal__content-item--row {
  flex-direction: row;
  gap: 8px;
}

.modal__content-item--column {
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 576px) {
  .modal {
    /* biome-ignore lint/complexity/noImportantStyles: the !important
       style is required here because the width is set inside the
       component via JavaScript */
    width: calc(100% - 24px) !important;
  }
}
