.settings-section {
  align-items: center;
  background: var(--color--bg-neutral-100);
  border-bottom: 1px solid var(--color--border-weak);
  border-left: none;
  border-right: none;
  border-top: none;
  display: flex;
  gap: 8px;
  height: 48px;
  min-width: 288px;
  padding: 0 12px;
  transition: background;

  &:hover {
    background: var(--color--bg-neutral-200);
    cursor: pointer;
  }

  &:focus-visible {
    outline-offset: -1px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.settings-section__icon {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-beta);
    }
  }
}

.settings-section__text {
  color: var(--color--text-beta);
  display: flex;
  flex: 1 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  user-select: none;
}

.settings-section--selected {
  background: var(--color--bg-neutral-300);
  pointer-events: none;

  &:focus-visible {
    outline: none;
  }
}

@media screen and (max-width: 576px) {
  .settings-section {
    min-width: fit-content;
    width: fit-content;
  }

  .settings-section__text {
    display: none;
  }
}
