.settings-modal {
  align-items: center;
  animation: settingsModalFadeIn 0.2s;
  background: var(--color--bg-neutral-100);
  border-radius: 12px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-modal);
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

@keyframes settingsModalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.settings-modal__header {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--color--border-weak);
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: space-between;
  padding: 12px;
}

.settings-modal__logo {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    aspect-ratio: 1 / 1;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-alpha);
    }
  }
}

.settings-modal__title {
  color: var(--color--text-alpha);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.settings-modal__content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1 0 0;
}

.settings-modal__section-divider {
  background: var(--color--border-weak);
  display: flex;
  height: 100%;
  width: 1px;
}

.settings-modal__section-items {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.settings-modal__section-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 8px;
  padding: 12px;
}

.settings-modal__item-divider {
  background: var(--color--border-weak);
  display: flex;
  height: 1px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .settings-modal__content {
    flex-direction: column;
    overflow: hidden;
  }

  .settings-modal__section-divider {
    height: 1px;
    width: 100%;
  }

  .settings-modal__section-items {
    -ms-overflow-style: none;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
