.status-text {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  padding: 2px 4px;
  width: 100%;
}

.status-text__icon {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 2.5px 0;

  svg {
    aspect-ratio: 1 / 1;
    height: 14px;
    width: 14px;
  }
}

.status-text__text {
  flex: 1 0 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.status-text--success {
  .status-text__icon {
    svg path {
      fill: var(--color--text-success);
    }
  }

  .status-text__text {
    color: var(--color--text-success);
  }
}

.status-text--error {
  .status-text__icon {
    svg path {
      fill: var(--color--text-danger);
    }
  }

  .status-text__text {
    color: var(--color--text-danger);
  }
}
