.status-text {
  align-items: flex-start;
  display: flex;
  gap: var(--gap-sm);
  padding: var(--gap-sm);
  width: 100%;
}

.status-text__icon {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 1px 0;
}

.status-text__text {
  font-size: var(--font-size--2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.status-text--error {
  .status-text__text {
    color: var(--component-status-text-text--error);
  }

  .status-text__icon {
    svg {
      height: 14px;
      width: 14px;

      path {
        fill: var(--component-status-text-text--error);
      }
    }
  }
}

.status-text--success {
  .status-text__text {
    color: var(--component-status-text-text--success);

    .status-text__icon {
      svg {
        height: 14px;
        width: 14px;

        path {
          fill: var(--component-status-text-text--success);
        }
      }
    }
  }
}
