.style-change-modal {
  align-items: center;
  animation: modalFadeIn 0.2s;
  background: var(--color--bg-neutral-100);
  border-radius: 12px;
  border: 1px solid var(--color--border-weak);
  box-shadow: var(--shadow-modal);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  width: 512px;
}

@media screen and (max-width: 576px) {
  .style-change-modal {
    width: 100%;
  }
}

.style-change-modal__header {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--color--border-weak);
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: space-between;
  padding-inline: 12px;
}

.style-change-modal__logo {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;

  svg {
    aspect-ratio: 1 / 1;
    height: 18px;
    width: 18px;

    path {
      fill: var(--color--text-alpha);
    }
  }
}

.style-change-modal__title {
  color: var(--color--text-alpha);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.style-change-modal__content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: fit-content;
  width: 100%;
}

.style-change-modal__style-name {
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
  width: 100%;
}

.style-change-modal__style-name-title,
.style-change-modal__style-data-title,
.style-change-modal__sample-title {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-alpha);
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 24px;
  padding: 8px;
  user-select: none;
  width: 100%;
}

.style-change-modal__style-data {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-inline: 12px;
  width: 100%;
}

.style-change-modal__sample {
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
  width: 100%;
}

.style-change-modal__sample-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.style-change-modal__sample-url {
  border-right: 1px solid var(--color--border-weak);
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-inline-end: 12px;
  width: 100%;
}

.style-change-modal__footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 12px;
  width: 100%;
}
