.toast {
  align-items: center;
  animation: toastSlideIn 0.3s ease forwards;
  border-radius: 8px;
  box-shadow: var(--shadow-alert);
  display: flex;
  gap: 8px;
  margin: 0 auto;
  max-width: 512px;
  min-height: 32px;
  padding-inline: 12px;
  position: relative;
  text-align: center;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  width: fit-content;

  & {
    align-self: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    user-select: none;
  }
}

.toast--success {
  background: var(--color--bg-dark-500);
  color: var(--color--text-invert);
}

.toast--error {
  background: var(--color--bg-danger-600);
  color: var(--color--text-invert);
}

.toast--closing {
  animation: toastSlideOut 0.3s ease forwards;
}

@keyframes toastSlideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toastSlideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 480px) {
  .toast {
    width: 100%;
  }
}
