.top-bar {
  align-items: center;
  background: var(--color--bg-neutral-100);
  box-shadow: var(--shadow-panel);
  display: flex;
  height: 48px;
  justify-content: space-between;
  min-height: 48px;
  padding: 0 12px;
  position: relative;
  width: 100%;
  z-index: var(--z-index-top-bar);
}

.top-bar__logo {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  height: 32px;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 32px;

  svg {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 26px;
    width: 26px;

    path {
      fill: var(--color--text-beta);
    }
  }
}

.top-bar__left {
  align-items: center;
  display: flex;
  gap: 12px;
}

.top-bar__right {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.top-bar__badge {
  align-items: center;
  border-radius: 32px;
  border: none;
  box-shadow: none;
  display: inline-flex;
  font-size: 12px;
  font-style: normal;
  font-variant: all-small-caps;
  font-weight: 600;
  gap: 8px;
  height: 24px;
  justify-content: center;
  line-height: normal;
  outline: none;
  padding: 0 12px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  user-select: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px dashed var(--color--border-invert);
  }
}

.top-bar__badge--blue {
  background: var(--color--bg-primary-600);
  color: var(--color--text-invert);
}

.top-bar__badge--yellow {
  background: var(--color--bg-yellow-600);
  color: var(--color--text-alpha);
}

.top-bar__badge--red {
  background: var(--color--bg-danger-600);
  color: var(--color--text-invert);
}

.top-bar__left-buttons,
.top-bar__right-buttons {
  align-items: center;
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 576px) {
  .top-bar__logo {
    display: none;
  }
}
