.version-modal-content {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.version-modal-content__container {
  cursor: default;
  height: 100%;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;

  &:hover {
    cursor: default;
    user-select: none;
  }
}

.version-modal-content__button {
  bottom: 12px;
  display: flex;
  position: absolute;
  right: 12px;
}
