.authentication-layout {
  align-items: center;
  background: var(--color--bg-neutral-000);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.authentication-layout__container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
