.dashboard-layout {
  align-items: flex-start;
  background: var(--layout-bg--dashboard);
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.dashboard-layout__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.dashboard-layout__page {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}
