.no-documents-empty-state {
  align-items: center;
  animation: noDocumentEmptyStateFadeIn 0.4s ease;
  bottom: 0;
  display: flex;
  height: auto;
  justify-content: center;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

@keyframes noDocumentEmptyStateFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.no-documents-empty-state__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: auto;
  justify-content: center;
  max-width: 100%;
  padding: 48px 24px;
  width: 512px;
}

.no-documents-empty-state__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  justify-content: center;
}

.no-documents-empty-state__title {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-alpha);
  display: flex;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: normal;
  text-align: center;
  user-select: none;
  width: 100%;
}

.no-documents-empty-state__description {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-beta);
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 20px;
  text-align: center;
  user-select: none;
  width: 100%;
}
