.version-empty-empty-state {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.version-empty-empty-state__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  justify-content: center;
}

.version-empty-empty-state__title {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-alpha);
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  justify-content: center;
  line-height: normal;
  text-align: center;
  user-select: none;
  width: 100%;
}

.version-empty-empty-state__description {
  align-items: center;
  align-self: stretch;
  color: var(--color--text-beta);
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  line-height: 20px;
  text-align: center;
  user-select: none;
  width: 100%;
}
