.create-document-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.create-document-page__container {
  max-width: calc(100% - 48px);
  width: 640px;
}
