.documents-page {
  align-items: center;
  animation: pageFadeIn 0.4s ease;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
  justify-content: flex-start;
  margin-bottom: 24px;
  padding-inline: 24px;
  width: 80%;
}

.documents-page__content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .documents-page {
    padding-inline: 24px;
    width: 90%;
  }
}

@media screen and (max-width: 972px) {
  .documents-page {
    padding-inline: 12px;
    width: 100%;
  }
}
