.editor-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.editor-page__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.editor-page__editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 24px;
  overflow: hidden;
  padding-inline: 0;
  width: 100%;
}
