.overview-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  padding-inline: 24px;
  width: 50%;
}

.overview-page__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
}

.overview-page__content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .overview-page {
    padding-inline: 24px;
    width: 80%;
  }
}

@media screen and (max-width: 972px) {
  .overview-page {
    padding-inline: 24px;
    width: 100%;
  }
}
