.shared-document-page {
  background: var(--layout-bg--dashboard);

  .editor {
    margin-top: 128px;
    padding-bottom: 128px;
  }
}

.shared-document-page__header {
  align-items: center;
  background: var(--layout-bg--dashboard);
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 64px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  svg {
    height: 26px;
    width: 26px;

    path {
      fill: var();
    }
  }
}

.shared-document-page__badge {
  background: #fbfbfb;
  border-radius: 32px;
  border: 1px solid #252525;
  bottom: 24px;
  color: #252525;
  display: flex;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: normal;
  padding: 12px 24px;
  position: fixed;
  right: 24px;
  text-decoration: none;
  text-underline-offset: 4px;
  z-index: 9999;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-underline-position: above;
  }
}
