.shared-document-page {
  background: var(--color--bg-neutral-000);

  .editor {
    margin-top: 24px;
    padding-bottom: 24px;
  }
}

.shared-document-page__header {
  align-items: center;
  background: var(--color--bg-neutral-000);
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 64px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  svg {
    height: 26px;
    width: 26px;

    path {
      fill: var(--color--text-alpha);
    }
  }
}

.shared-document-page__badge {
  align-items: center;
  background: var(--color--bg-dark-500);
  border-radius: 32px;
  border: 1px solid var(--color--text-invert);
  bottom: 24px;
  color: var(--color--text-invert);
  display: flex;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  line-height: normal;
  padding-inline: 24px;
  position: fixed;
  right: 24px;
  text-decoration: none;
  text-underline-offset: 4px;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 9999;

  &:hover {
    transform: scale(1.02);
  }
}
