.alert-container {
  background: transparent;
  bottom: 12px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 12px;
  position: fixed;
  right: 12px;
  scrollbar-width: none;
  z-index: var(--z-index-controller-alert);
}

.alert-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 480px) {
  .alert-container {
    bottom: 12px;
    left: 12px;
    right: 12px;
  }
}
