.appearance-modal-container {
  -webkit-backdrop-filter: blur(8px);
  align-items: center;
  animation: appearanceModalControllerFadeIn 0.2s forwards;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 64px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-controller-appearance-modal);
}

.appearance-modal-container--closing {
  animation: appearanceModalControllerFadeOut 0.3s forwards;
}

@keyframes appearanceModalControllerFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appearanceModalControllerFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 576px) {
  .appearance-modal-container {
    padding: 24px;
  }
}
