.editor-ai-menu-container {
  -webkit-backdrop-filter: blur(4px);
  align-items: center;
  animation: modalControllerFadeIn 0.2s forwards;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 64px 64px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-editor-ai-menu);
}

.editor-ai-menu-container--closing {
  animation: modalControllerFadeOut 0.3s forwards;
}
