.modal-container {
  align-items: center;
  background: var(--component-modal-bg--controller);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-controller-modal);
}
