.settings-modal-container {
  align-items: center;
  animation: modalControllerFadeIn 0.2s forwards;
  background: var(--color--bg-neutral-000);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 128px 256px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-controller-settings-modal);
}

.settings-modal-container--closing {
  animation: modalControllerFadeOut 0.3s forwards;
}

@keyframes modalControllerFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalControllerFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .settings-modal-container {
    padding: 64px 24px;
  }
}

@media screen and (max-width: 972px) {
  .settings-modal-container {
    padding: 24px;
  }
}
