.version-modal-container {
  align-items: center;
  animation: modalControllerFadeIn 0.2s forwards;
  background: var(--color--bg-neutral-000);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 64px 64px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-controller-version-modal);
}

.version-modal-container--closing {
  animation: modalControllerFadeOut 0.3s forwards;
}

@media screen and (max-width: 1200px) {
  .version-modal-container {
    padding: 24px;
  }
}
