/* For fonts, we use `Font Source`
 *
 * Sans: https://fontsource.org/fonts/ibm-plex-sans/install
 * Mono: https://fontsource.org/fonts/jetbrains-mono/install
 **/

/* Base */

@import "./base/html.css";
@import "./base/reset.css";
