/* For fonts, we use `Font Source`
 *
 * Sans: https://fontsource.org/fonts/ibm-plex-sans/install
 * Mono: https://fontsource.org/fonts/jetbrains-mono/install
 **/

/* Base */

@import "./base/html.css";
@import "./base/reset.css";

/* Settings */

@import "./settings/numbers.css";

/* Color Style Themes */

@import "./themes/color/dark_blue.css";
@import "./themes/color/dark_catppuccin.css";
@import "./themes/color/dark_cherry.css";
@import "./themes/color/dark_forest.css";
@import "./themes/color/dark_gray.css";
@import "./themes/color/dark_sepia.css";
@import "./themes/color/dark_solarized.css";
@import "./themes/color/dark_typewriter.css";
@import "./themes/color/light.css";
@import "./themes/color/light_blue.css";
@import "./themes/color/light_catppuccin.css";
@import "./themes/color/light_cherry.css";
@import "./themes/color/light_forest.css";
@import "./themes/color/light_sepia.css";
@import "./themes/color/light_solarized.css";
@import "./themes/color/light_typewriter.css";

/* Editor Style Themes */

@import "./themes/editor/mono.css";
@import "./themes/editor/sans.css";
@import "./themes/editor/serif.css";
@import "./themes/editor/typewriter.css";

/* Global */

@import "./global/scroll_bars.css";

/* Layouts */

@import "./layouts/authentication.css";
@import "./layouts/dashboard.css";

/* Pages */

@import "./pages/editor.css";
@import "./pages/overview.css";

/* Components */

@import "./components/action_button.css";
@import "./components/alert.css";
@import "./components/animated_icon.css";
@import "./components/appearance_modal.css";
@import "./components/authentication_button.css";
@import "./components/authentication_form.css";
@import "./components/authentication_header.css";
@import "./components/button.css";
@import "./components/close_button.css";
@import "./components/editor.css";
@import "./components/editor_fixed_menu.css";
@import "./components/editor_fixed_menu_item.css";
@import "./components/editor_node_loading_indicator.css";
@import "./components/error_message.css";
@import "./components/input.css";
@import "./components/item_create_input.css";
@import "./components/item_list.css";
@import "./components/item_list_document.css";
@import "./components/loading_indicator.css";
@import "./components/menu.css";
@import "./components/menu_item.css";
@import "./components/modal.css";
@import "./components/overview_title.css";
@import "./components/settings_item.css";
@import "./components/settings_modal.css";
@import "./components/settings_section.css";
@import "./components/status_text.css";
@import "./components/top_bar.css";

/* Controllers */

@import "./controllers/alert.css";
@import "./controllers/appearance_modal.css";
@import "./controllers/modal.css";
@import "./controllers/settings_modal.css";

/* Vendors */

@import "./vendors/editor.css";

/* Debugging */

/* @import "./debug/outline.css"; */
