/* For fonts, we use `Font Source`
 *
 * Sans: https://fontsource.org/fonts/ibm-plex-sans/install
 * Mono: https://fontsource.org/fonts/jetbrains-mono/install
 **/

/* Base */

@import "./base/html.css";
@import "./base/reset.css";

/* Variables */

@import "./settings/colors.css";
@import "./settings/numbers.css";

/* Themes */

@import "./themes/light.css";
@import "./themes/dark.css";

/* Theme Options */

@import "./themes/options/cursor.css";

/* Layouts */

@import "./layouts/authentication.css";

/* Components */

@import "./components/alert.css";
@import "./components/animated-icon.css";
@import "./components/authentication-button.css";
@import "./components/authentication-form.css";
@import "./components/authentication-header.css";
@import "./components/error-message.css";
@import "./components/flat-icon.css";
@import "./components/input.css";
@import "./components/loading-indicator.css";
@import "./components/status-text.css";

/* Controllers */

@import "./controllers/alert.css";
