/* For fonts, we use `Font Source`
 *
 * Sans: https://fontsource.org/fonts/ibm-plex-sans/install
 * Mono: https://fontsource.org/fonts/jetbrains-mono/install
 **/

/* Base */

@import "./base/html.css";
@import "./base/reset.css";

/* Settings */

@import "./settings/colors.css";
@import "./settings/numbers.css";

/* Themes */

@import "./themes/light.css";

/* Layouts */

@import "./layouts/authentication.css";

/* Components */

@import "./components/alert.css";
@import "./components/close_button.css";
@import "./components/authentication_button.css";
@import "./components/authentication_form.css";
@import "./components/authentication_header.css";
@import "./components/error.css";
@import "./components/input.css";
@import "./components/loading_indicator.css";
@import "./components/status_text.css";

/* Controllers */

@import "./controllers/alert.css";

/* Debugging */

/*@import "./debug/outline.css";*/
