.v-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color--bg-dark-100) transparent;
}

.v-scrollbar::-webkit-scrollbar {
  width: thin;
  height: thin;
}

.v-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 32px;
}

.v-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color--bg-dark-100);
  border-radius: 32px;
}

.v-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color--bg-dark-100);
}

.h-scrollbar {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color--bg-dark-100) transparent;
}

.h-scrollbar::-webkit-scrollbar {
  width: thin;
  height: thin;
}

.h-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 32px;
}

.h-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color--bg-dark-100);
  border-radius: 32px;
}

.h-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color--bg-dark-100);
}

.vh-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color--bg-dark-100) transparent;
}

.vh-scrollbar::-webkit-scrollbar {
  width: thin;
  height: thin;
}

.vh-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 32px;
}

.vh-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color--bg-dark-100);
  border-radius: 32px;
}

.vh-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color--bg-dark-100);
}
