html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1c1d1e;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-width: 100%;
  padding: 24px;
  width: 100%;
}

.container {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #1c1d1e;
  display: table;
  max-width: 600px;
}

.content {
  -moz-border-spacing: 0 24px;
  -webkit-border-spacing: 0 24px;
  border-collapse: separate;
  border-spacing: 0 24px;
  padding: 0px 24px 0px 24px;
}

.logo-title {
  -moz-letter-spacing: 2px;
  -webkit-letter-spacing: 2px;
  border-bottom: 1px solid #1c1d1e;
  font-size: 21px;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding: 12px 24px;
  text-align: center;
  text-transform: lowercase;
}

.header {
  font-size: 17px;
  font-weight: 600;
}

.paragraph {
  font-size: 15px;
  line-height: 24px;
}

.small {
  font-size: 12px;
  line-height: 20px;
}

.complimentary {
  font-size: 12px;
  line-height: 24px;
}

.code-block pre {
  -moz-white-space: pre;
  -o-white-space: pre;
  border-radius: 12px;
  border: 1px solid #1c1d1e;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  overflow-x: auto;
  padding: 24px;
  white-space: pre;
}

.verification-code {
  border-radius: 12px;
  border: 1px solid #1c1d1e;
  padding: 24px;
}

.verification-code__title {
  font-size: 13px;
  text-align: center;
}

.verification-code__code {
  font-family: "Courier New", Courier, monospace;
  font-size: 27px;
  font-weight: bold;
  padding: 24px;
  text-align: center;
}

.verification-code__description {
  font-size: 13px;
  text-align: center;
}

.alert {
  border-radius: 12px;
  border: 1px dashed #1c1d1e;
  font-size: 13px;
  padding: 12px;
  text-align: left;
}

.alert__title {
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  padding: 12px;
  text-align: center;
}

.primary-button a {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border: 2px solid #1c1d1e;
  color: #1c1d1e;
  font-size: 13px;
  padding: 12px 24px;
  text-decoration: none;
}

.secondary-button a {
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  background: #1c1d1e;
  border-radius: 32px;
  border: 2px solid #1c1d1e;
  color: #ffffff;
  font-size: 13px;
  padding: 12px 24px;
  text-decoration: none;
}

.footer {
  border-top: 1px solid #1c1d1e;
  padding: 24px 12px;
}

.footer__text {
  font-size: 11px;
  line-height: 24px;
  text-align: center;
}

.footer__email {
  font-size: 10px;
  line-height: 24px;
  padding-top: 24px;
  text-align: center;
}

.footer__text {
  font-size: 11px;
  line-height: 24px;
  text-align: center;
}

.footer__link {
  color: #1c1d1e;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
}

.footer__email {
  font-size: 10px;
  line-height: 24px;
  padding-top: 24px;
  text-align: center;
}
