/* biome-ignore format: Style variables should not be formatted */
html[data-editor-theme="editor_sans"] {
  --editor-core-font-family: 'Source Sans 3 Variable', sans-serif;

  /* Placeholder */

  --editor-placeholder-font-size: 15px;
  --editor-placeholder-font-weight: 400;

  /* Paragraph */

  --editor-p-font-size: 15px;
  --editor-p-font-weight: 400;
  --editor-p-line-height: calc(15px * 1.6);
  --editor-p-word-spacing: normal;
  --editor-p-margin-bottom: 24px;

  /* Heading 01 */

  --editor-h1-font-size: 30px;
  --editor-h1-font-weight: 580;
  --editor-h1-line-height: calc(30px * 1.6);
  --editor-h1-word-spacing: calc(30px * 0.16);
  --editor-h1-margin-top: 30px;
  --editor-h1-margin-bottom: calc(30px * 0.5);
  --editor-h1-text-align: left;
  --editor-h1-border-bottom: none;

  /* Heading 02 */

  --editor-h2-font-size: 27px;
  --editor-h2-font-weight: 550;
  --editor-h2-line-height: calc(27px * 1.6);
  --editor-h2-word-spacing: calc(27px * 0.16);
  --editor-h2-margin-top: 27px;
  --editor-h2-margin-bottom: calc(27px * 0.5);
  --editor-h2-text-align: left;
  --editor-h2-border-bottom: none;

  /* Heading 03 */

  --editor-h3-font-size: 24px;
  --editor-h3-font-weight: 500;
  --editor-h3-line-height: calc(24px * 1.6);
  --editor-h3-word-spacing: calc(24px * 0.16);
  --editor-h3-margin-top: 24px;
  --editor-h3-margin-bottom: calc(24px * 0.5);
  --editor-h3-text-align: left;
  --editor-h3-border-bottom: none;

  /* Heading 04 */

  --editor-h4-font-size: 21px;
  --editor-h4-font-weight: 500;
  --editor-h4-line-height: calc(21px * 1.6);
  --editor-h4-word-spacing: calc(21px * 0.16);
  --editor-h4-margin-top: 21px;
  --editor-h4-margin-bottom: calc(21px * 0.5);
  --editor-h4-text-align: left;
  --editor-h4-border-bottom: none;

  /* Heading 05 */

  --editor-h5-font-size: 19px;
  --editor-h5-font-weight: 500;
  --editor-h5-line-height: calc(19px * 1.6);
  --editor-h5-word-spacing: calc(19px * 0.16);
  --editor-h5-margin-top: 19px;
  --editor-h5-margin-bottom: calc(19px * 0.5);
  --editor-h5-text-align: left;
  --editor-h5-border-bottom: none;

  /* Heading 06 */

  --editor-h6-font-size: 17px;
  --editor-h6-font-weight: 500;
  --editor-h6-line-height: calc(17px * 1.6);
  --editor-h6-word-spacing: calc(17px * 0.16);
  --editor-h6-margin-top: 17px;
  --editor-h6-margin-bottom: calc(17px * 0.5);
  --editor-h6-text-align: left;
  --editor-h6-border-bottom: none;

  /* Bold */

  --editor-bold-font-weight: 600;

  /* Underline */

  --editor-underline-offset: 4px;

  /* Super Script */

  --editor-super-script-font-size: 75%;
  --editor-super-script-bottom: -0.5em;

  /* Sub Script */

  --editor-sub-script-font-size: 75%;
  --editor-sub-script-bottom: -0.25em;

  /* Inline Code */

  --editor-inline-code-font-family: "JetBrains Mono Variable", monospace;
  --editor-inline-code-font-size: 85%;
  --editor-inline-code-padding: 0px 4px;
  --editor-inline-code-border-radius: 4px;

  /* Hyper Link */

  --editor-hyper-link-hover-duration: 0.2s;
  --editor-hyper-link-hover-filter: brightness(1.2);
  --editor-hyper-link-hover-opacity: 0.85;
  --editor-hyper-link-underline-offset: 4px;

  /* Bullet and Number Lists */

  --editor-list-padding-left: calc(1em * 2);
  --editor-list-gap-nested-lists: calc(1em * 1.5);
  --editor-list-gap-mark-and-text: calc(1em / 4);
  --editor-list-margin-bottom: 24px;
  --editor-list-gap-items: 8px;

  /* Horizontal Rule */

  --editor-horizontal-rule-height: 1px;
  --editor-horizontal-rule-margin-top: 24px;
  --editor-horizontal-rule-margin-bottom: 48px;

  /* Image Container */

  --editor-image-container-margin-top: 12px;
  --editor-image-container-margin-bottom: 24px;
  --editor-image-container-padding: 2px;
}
