* {
  font-family: inherit;
}

html {
  font-size: 15px;
  height: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
}

body {
  font-family: "Source Sans 3 Variable", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
}
